html, body{

	height: 100%;
}

body{

	min-height: 100%;
}

.wrapper{

	width: 100%;
	margin: 0 auto;
}

@media only screen and ( min-width: 640px ){

	.wrapper{

		max-width: 640px;
	}
}

@media only screen and ( min-width: 768px ){

	.wrapper{

		width: 768px;
		max-width: 100%;
	}
}

@media only screen and ( min-width: 992px ){

	.wrapper{

		width: 992px;
	}
}

@media only screen and ( min-width: 1100px ){

	.wrapper{

		width: 1080px;
	}
}
