*{
	box-sizing: border-box;
}

body{

	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 1.4;
	color: #363636;
}

ul,
ul li,
ol,
ol li{

	margin: 0;
	padding: 0;
	list-style: none;
}

h1{


}

h2{


}

h3{

	color: $red;
	font-size: 24px;
	margin-bottom: .75em;
}

h4{


}

h1, h2, h3, h4, h5, h6{

	text-transform: uppercase;
	letter-spacing: 1px;
	color: #7f171a;
}

p{

}

ol,ul{

	margin-left: 1.5em;

	li{

		margin-left: 10px;
		margin-bottom: 0.5em;
	}
}

ul li{

	list-style: disc;
}

ol li{

	list-style: decimal;
}

nav{

	ul, ol{

		margin: 0;

		li{
			list-style: none;
			margin: 0;
		}
	}
}


.desktop-only{

	display: none;
}

.breadcrumbs{

	color: #ffffff;
	font-size: 13px;
	font-weight: normal;

	a{

		color: #ffffff;
		text-decoration: none;
	}

	.separator{

		font-size: 11px;
	}

	.current{

	}

}


/** Buttons **/

.button {

	display: inline-block;
	border: 2px solid #7f171a;
	border-radius: 34px;
	text-transform: uppercase;
	color: #7f171a;
	background: transparent;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	height: 34px;
	line-height: 34px;
	padding: 0 25px;
	margin: 5px auto;

	&.current,
	&.active{

		color: #ffffff;
		background-color: #7f171a;
	}
}

/** Forms **/

form {

	.text,
	textarea{

		color: #6b1b1b;
		border-radius: 34px;
		width: 100%;
		height: 34px;
		font-size: 12px;
		text-transform: uppercase;
		border: none;
		margin: 5px auto 10px;
		padding: 0 25px;

		&::-webkit-input-placeholder { /* Safari, Chrome and Opera */
			color: #6b1b1b;
		}

		&:-moz-placeholder { /* Firefox 18- */
			color: #6b1b1b;
		}

		&::-moz-placeholder { /* Firefox 19+ */
			color: #6b1b1b;
		}

		&:-ms-input-placeholder { /* IE 10+ */
			color: #6b1b1b
		}

		&::-ms-input-placeholder { /* Edge */
			color: #6b1b1b
		}

		&:placeholder-shown { /* Standard one last! */
			color: #6b1b1b;
		}
	}

	textarea{

		border-radius: 14px;
		box-sizing: border-box;
		padding: 10px 25px;

		resize: none;
	}

}