
footer {

	.red-band {

		background-color: #6b1b1b;
		color: #ffffff;
		text-align: center;

		.wrapper {

			padding: 20px 15px;
		}

		.title{

			color: #ffffff;
			margin: 0 0 20px;
		}

		p {

			font-weight: 300;
			font-size: 13px;
		}

		.button {

			border: 1px solid #ffffff;
			color: #ffffff;
			text-align: left;
			width: 165px;

			.arrow {

				width: 33px;
				height: 10px;
				margin: 11px 0 13px;
				float: right;

				background: transparent url(../images/right-arrow-white.png) top left no-repeat;
				background-size: contain;
			}
		}
	}

	.career-page-box{

		a.button{

			text-align: center;
			margin-top: 20px;
		}
	}

	.more-information{

		.form-container{

			flex-wrap: wrap;
		}

		.button{

			width: auto;
		}
	}

	.middle {

		.wrapper{

			max-width: 100%;
		}

		.footer-nav {

			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;

			ul {

				margin: 20px 35px;

				li {

					a {

						text-decoration: none;
						color: #363636;
						font-size: 12px;
					}

					margin-bottom: 3px;
				}

				&.col {

				}
			}
		}

		.locations {

			border-top: 2px solid $red;
			padding: 0 15px;

			.title {

				margin: 0 auto;
				padding: 0 5px;
				line-height: 44px;
				color: $red;

				.icon {

					float: right;
					margin: 17px 0;
					display: block;
					width: 14px;
					height: 7px;
					background: transparent url(../images/down-caret-red.png) top left no-repeat;
					background-size: contain;
				}
			}

			.locations-list {

				display: none;
				padding-top: 20px;

				.location{

					width: 200px;
					margin: 0 auto 25px;

					p, a{
						margin: 0;
						font-size: 13px;
						line-height: 1.2;
						color: #363636;
					}

					.name{

						font-weight: bold;
						text-transform: uppercase;
						font-size: 16px;
					}
					.address{

						margin-bottom: 3px;
					}
					.phone{

						a {
							display: inline-block;
							padding: 2px 5px 3px 25px;
							background: transparent url(../images/phone-icon-red-xsmall.png) left center no-repeat;
							text-decoration: none;
						}
					}
					.directions{


						a {
							display: inline-block;
							padding: 3px 5px 0 25px;
							background: transparent url(../images/location-icon-red-xsmall.png) left center no-repeat;
							text-decoration: none;
						}
					}
				}

				&.active{

					display: block;
				}
			}
		}
	}

	.contact {

		.wrapper{

			max-width: 100%;
		}

		.phone {

			background-color: #666060;
			color: #ffffff;
			padding: 15px 5px;

			.wrapper{

				padding-left: 42px;
				position: relative;
			}

			.icon {

				display: block;
				position: absolute;
				left: 15px;
				top: 50%;
				margin-top: -9px;

				width: 18px;
				height: 18px;
				background: transparent url(../images/phone-icon-white.png) center left no-repeat;
				background-size: 18px;
			}

			p {

				font-family: $myriad;
				font-size: 12px;
				margin: 0;
				letter-spacing: 1px;
			}

			a {

				font-size: 18px;
				text-decoration: none;
				color: #ffffff;
				letter-spacing: 2px;
			}
		}
	}

	.social-icons{

		display: none;
	}

	.bottom-bar{

		background-color: #3b3737;
		color: #ffffff;
		padding: 10px 5px;

		p.copy{

			font-size: 11px;
			text-align: center;
			margin: 0;
			line-height: 1.5;
		}
	}
}


@media only screen and ( min-width: 640px ){

	footer {

		.red-band {

			.form-container{

				display: flex;
				flex-direction: row;
				justify-content: center;

				max-width: 540px;
				margin: 0 auto;
			}

			.text{

				flex: 8;
				width: auto;
				margin-right: 20px;
			}

			.submit{

				flex: 2;
			}

		}

		.career-page-box{

			a.button{

				text-align: center;
				margin-top: 0;
				margin-left: 20px;
			}
		}

		.more-information{

			.form-container{

				flex-wrap: wrap;

				.text{

					width: 48%;
					flex: 0 auto;
					margin-right: auto;

					&.company,
					&.comments{

						width: 98%;
					}
				}
			}

		}

		.middle {

			.wrapper {

			}

			.footer-nav{


			}

			.locations {

				.locations-list {

					&.active{

						display: flex;
						flex-direction: row;
						justify-content: space-around;
						align-items: center;
					}
				}

				.title {

				}

				.location{


					margin: 0 10px;

					.location{


					}
				}

			}
		}
	}
}

@media only screen and ( min-width: 768px )
{
	footer{

		.red-band{

			background-color: #561e1e;
		}

		.middle {

			.wrapper {

				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;

				padding: 15px;
			}

			.footer-nav {

				flex: 4;
				align-self: center;
				margin: 0 0 0 10px;

				ul{

					margin: 0 40px 0 0;
				}
			}

			.locations {

				flex: 8;
				border-top: none;

				.title{

					color: #363636;
					font-size: 18px;
					border-bottom: 2px solid $red;
					padding: 0;
					margin: 0;
					line-height: 1.2;

					.icon{

						display: none;
					}
				}

				.locations-list{

					padding-top: 15px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					.location{

						width: auto;
						margin: 0;

						p, a{

							font-size: 12px;
						}

						.name{

							font-size: 15px;
						}
					}
				}

			}
		}

		.contact{

			position: relative;
			background-color: #666060;

			.wrapper{

				position: relative;
			}

			.phone{

				height: 80px;
				padding: 20px 300px 20px 5px;

				.wrapper{

					padding-left: 47px;
				}

				p{

					font-size: 14px;
				}

				a{

					font-size: 20px;
				}

				.icon{

					width: 26px;
					height: 26px;
					background-size: 26px;
					left: 10px;
					margin-top: -13px;
				}
			}

			.social-icons {

				display: block;
				position: absolute;
				top: 12px;
				right: 10px;

				ul{

					li{


					}
				}
			}
		}

		.bottom-bar{

			.wrapper {

				padding: 0 10px;
			}

			p.copy {

				text-align: left;
			}
		}
	}
}

@media only screen and ( min-width: 992px ){

	footer {
		.more-information {

			.form-container {

				max-width: 750px;
				justify-content: space-between;

				.text {

					width: 48%;
					flex: 0 auto;
					margin: 0 15px 10px 0;

					&.name,
					&.company {

						width: 31%;
					}

					&.comments {

						width: 76%;
					}
				}

				.button {

					margin-top: 0;
					margin-left: 0;
					width: 20%;
				}
			}

		}
	}
}