header{

	text-align: center;
	background-color: #ffffff;
	position: relative;
	height: 100px;

	.logo{

		img{

			max-width: 175px;
			margin: 25px auto  10px;
		}
	}

	.button{

		display: block;
		width: 52px;
		height: 52px;
		padding: 5px;
		border: 2px solid $red;
		border-radius: 0;
		cursor: pointer;
		margin: 0;

		color: $red;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 9px;
		font-weight: 600;
		letter-spacing: 0;
		line-height: 1;

		.icon{

			width: 18px;
			height: 18px;
			margin: 3px auto 10px;
			display: block;

		}
	}


	.menu{

		position: absolute;
		top: 40px;
		right: 5px;
		padding: 35px 5px 3px;

		.title{

		}
	}


	/** Menu Button and animations **/

	.menu .icon{

		top: 15px;
		left: 10px;
	}

	.menu .icon, .menu .icon:before, .menu .icon:after {
		cursor: pointer;
		border-radius: 1px;
		height: 4px;
		width: 30px;
		background: $red;
		margin: auto;
		position: absolute;
		display: block;
		content: '';

		box-sizing: border-box;
	}
	.menu .icon:before {
		top: -8px;
	}
	.menu .icon:after {
		bottom: -8px;
	}

	.menu .icon, .menu .icon:before, .menu .icon:after {
		transition: all 500ms ease-in-out;
	}
	.menu.active .icon {
		background-color: transparent;
	}
	.menu.active .icon:before{
		top: 0;
	}

	.menu.active .icon:after {
		bottom: 0;
	}
	.menu.active .icon:before {
		transform: rotate(45deg);
	}
	.menu.active .icon:after {
		transform: rotate(-45deg);
	}


	.phone{

		position: absolute;
		top: 40px;
		left: 5px;

		.icon{

			background: transparent url(../images/phone-icon-red.png) center center no-repeat;
			background-size: contain;
		}

		.number{

			display: none;
		}
	}

	.search{

		display: none;
	}

	.menus{

		display: none;

		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		z-index: 1000;
	}

	nav.main{

		background-color: rgba( 210, 210, 210, 0.8 );
		padding: 20px 15px 10px;

		ul{

			li{

				margin: 0 12px 10px;

				a{
					display: block;

					color: #363636;
					font-size: 12px;
					font-weight: 400;
					text-decoration: none;
					text-transform: uppercase;
					background-color: #ffffff;
					border-top: 2px solid $red;
					line-height: 45px;
				}

			}
		}
	}

	nav.top{

		background-color: rgba( 210, 210, 210, 0.8 );
		padding: 0 15px 10px;

		ul{

			overflow: hidden;

			li{

				width: 50%;
				float: left;
				padding: 5px 5px 5px 0;

				&:nth-child( 2n ){

					padding-right: 0;
					padding-left: 5px;
				}

				a{

					display: block;
					background-color: #3b3737;
					color: #ffffff;
					text-decoration: none;
					font-family:  $myriad;
					font-size: 18px;
					line-height: 42px;
				}
			}
		}
	}

	.social-icons{

		background-color: rgba( 107, 107, 107, 0.9 );
		padding: 15px 10px;
		border-bottom:  4px solid #7f171a;

		ul{

			li{

			}
		}
	}
}


@media only screen and ( min-width: 768px ){

	header{

		height: auto;
		border-top: 30px solid #666060;
		z-index: 100;

		.wrapper{

			padding-bottom: 50px;
			padding-top: 25px;
			height: 160px;

			position: relative;
		}

		.logo{

			display: block;
			z-index: 5;
			width: 258px;
			height: 84px;

			margin: 0 auto;

			img{

				width: 100%;
				max-width: 100%;
				display: block;
				margin: 0;
			}
		}

		.menu{

			display: none;
		}

		.phone{

			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: auto;
			height: auto;
			width: 215px;
			padding: 0;
			margin: 0;
			border: none;
			background-color: #c9c9c9;
			color: #3f3f3f;
			text-align: left;

			.icon {

				display: inline-block;
				margin: 6px 15px;
				float: left;
			}

			.call{

				display: none;
				font-size: 13px;
			}

			.number{

				display: inline;
				font-size: 13px;
				line-height: 30px;
			}
		}

		.menus{

			display: block;
			position: static;
			top: 0;
			height: 100%;
			z-index: 1;
		}

		.search{

			display: block;

			position: absolute;
			top: -30px;
			right: 0;
			z-index: 4;

			width: 215px;
			height: 30px;

			background-color: #3b3737;

			.text{

				display: inline-block;
				background-color: transparent;
				height: 30px;
				margin: 0;
				padding: 5px 15px;
				border: none;
				color: #ffffff;
				font-size: 13px;
				font-weight: 300;

				&:placeholder{

					color: #cfcfcf;
				}
			}

			.submit{

				width: 30px;
				height: 30px;
				/*position: absolute;
				top: 0;
				right: 0;*/
				border: none;
				background: transparent url(../images/search-icon-white.png) center center no-repeat;
				background-size: 15px 15px;

				@include hide-text;
				display: inline-block;
			}
		}

		.social-icons{

			display: none;
		}

		.menus{

			display: block !important;
		}

		nav.main{

			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			text-align: center;
			background-color: transparent;

			ul{

				li{

					display: inline-block;
					margin: 0 10px;

					a{

						line-height: 1.3;
						font-size: 13px;
						display: inline-block;

						border: none;
						background-color: transparent;
					}
				}
			}
		}

		nav.top{

			position: absolute;
			top: -30px;
			right: 0;
			width: 100%;
			height: 30px;
			background-color: transparent;

			ul{

				padding-right: 200px;
				float: right;

				li{

					display: inline-block;
					float: none;
					padding: 0;
					margin: 0 25px 0 0;
					width: auto;

					a{
						display: inline-block;
						font-size: 13px;
						font-weight: 300;
						line-height: 30px;
						padding: 0;
						background-color: transparent;
					}
				}
			}
		}
	}

}

@media only screen and ( min-width: 992px ){

	header{

		height: 100px;

		.wrapper{

			height: auto;
			padding-top: 0;
		}

		.phone{


		}

		.logo{

			width: 200px;
			height: 66px;

			position: relative;
			margin: -6px 0 10px 20px;
			z-index: 1000;
			float: left;
		}

		.menus{

			position: static;
			top: auto;
			width: auto;
			height: auto;
			float: right;

		}

		nav.main{

			position: static;
			margin: 20px 5px 0;

			ul{

				li{

					a{

					}
				}
			}
		}

	}
}