.posts{

	background: transparent url(../images/blog-background.png) top center no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 35px;

	.title{

		text-align: center;
		margin: 0 auto 30px;
	}

	.load-more{

		text-align: center;
		margin-bottom: 0;
	}

	.post{

		width: 300px;
		margin: 30px auto;
		padding-bottom:  45px;
		position: relative;
		box-shadow: 1px 1px 14px #6f6f6f;
		background-color: #ffffff;

		.thumb{

			width: 100%;
		}

		.content{

			padding: 10px 15px;
		}

		.meta{

			color: #686868;
			font-size: 13px;
			margin-bottom: 25px;

			.date{

				margin-right: 5px;
			}

			.tags{

				display: inline;
			}

			.tag{

				margin-left: 5px;
				color: $red;
			}
		}

		.title{

			font-size: 16px;
			margin-bottom: 10px;
			color: #294547;
			text-align: left;

			a{

				color: inherit;
				text-decoration: none;
			}
		}

		.excerpt{

			color: #4f4f4f;
			font-size: 13px;
			line-height: 1.5;
		}

		.social{

			position: absolute;
			bottom: 0;
			left: 0;
			padding: 10px 25px;

			ul{

				li {

					display: inline-block;
					margin: 0 3px;

					a {
						width: 22px;
						height: 22px;
						display: block;

						@include hide-text;
					}

					&.facebook a{

						background: transparent url(../images/facebook-icon-grey.png) center center no-repeat;
						background-size: contain;
					}

					&.twitter a{

						background: transparent url(../images/twitter-icon-grey.png) center center no-repeat;
						background-size: contain;
					}

					&.favorite a{

						background: transparent url(../images/favorite-icon-grey.png) center center no-repeat;
						background-size: contain;
					}

				}
			}
		}

		.read-more{

			position: absolute;
			right: 20px;
			bottom: 20px;
			display: block;

			width: 40px;
			height: 12px;

			background: transparent url(../images/right-arrow-red.png) center right no-repeat;
			background-size: 40px 12px;

			@include hide-text;
		}
	}

	.featured{

	}
}


@media only screen and ( min-width: 640px ){

	.posts{

		.post{

			width: 360px;
		}

	}
}


@media only screen and ( min-width: 768px ){

	.posts{

		.posts-list{

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

			.post{

				margin: 10px 20px 40px;
				width: 240px;
			}

			.featured{

				width: 520px;
				position: relative;
				padding-bottom: 0;

				.thumb{

					position: relative;
					z-index: 1;
					margin: 0;
					display: block;
				}

				.content{

					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;

					.meta{

						color: #ffffff;

						.tag{

							color: inherit;
						}
					}

					.title{

						font-size: 22px;
						color: #ffffff;
					}

					.excerpt{

						color: #ffffff;
					}
				}

				.read-more{

					background: transparent url(../images/right-arrow-white.png) center right no-repeat;
					background-size: 40px 12px;
				}
			}
		}
	}
}

@media only screen and ( min-width: 992px ){

	.posts{

		.posts-list{

			justify-content: space-between;
			padding: 0 15px;

			.post{

				width: 30%;
				max-height: 388px;
				margin: 10px 0 40px;

				.title{

					line-height: 1.3;
				}

				.excerpt{

					line-height: 1.4;
					margin-top: 0;
				}
			}

			.featured{

				width: 65%;
				overflow: hidden;

				.thumb{

					height: 100%;
					width: 100%;
					margin: 0 auto;
				}

				.content{

					padding: 10px 30px;
				}

				.meta{

					margin-top: 10px;
					margin-bottom: 70px;
				}

				.title{

					font-size: 28px;
					margin-bottom: 25px;
				}
			}
		}
	}
}