.slides{

	margin-top: -100px;

	ul{
		margin: 0;


		li{
			margin: 0;
		}
	}

	.slide{

		background:  transparent url(../images/slides/slide-1-mobile.png) center center no-repeat;
		background-size: cover;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 300px;

		.title{

			color: #ffffff;
			font-size: 26px;
			text-transform: uppercase;
			text-align: center;
			margin: 95px 0 0;
			letter-spacing: 3px;

		}

		p{
			color: #ffffff;
			font-size: 12px;
			text-transform: uppercase;
			text-align: center;
			margin: 0;
			letter-spacing: 1px;
		}

		.breadcrumbs{

			text-align: center;
		}


		&.about-us{

			background: transparent url(../images/splash-about.png) top center no-repeat;
			background-size: cover;
		}

		&.home{

			margin: 25px 0 0;
		}

		&.blog-article{

			.wrapper{

				padding: 0 15px;
			}

			.title{

				font-size: 22px;
				line-height: 1.3;
				margin-bottom: 10px;
			}

			.meta{

				text-align: center;
				color: #ffffff;

				.tags{

					display: inline;
				}

				.tag{

					display: inline;
					color: #ffffff;
				}
			}
		}

		&.project{

			padding-top: 100px;

			.wrapper{

				padding: 0 15px;
			}

			.project-logo{

				display: block;
				margin: 5px auto 15px;
				max-width: 280px;
				max-height: 50px;
			}

			.title{

				margin: 0 0 10px;
				font-size: 18px;
				line-height: 1.3;
			}
		}
	}
}

@media only screen and ( min-width: 640px ){


}


@media only screen and ( min-width: 768px ){

	.slides{

		margin: 0;
		height: 293px;

		ul{

			position: relative;
			top: -100px;
			z-index: 1;
		}


		.slide{

			background-image:  url(../images/slides/slide-1.png);
			height: 393px;

			.title{

				font-size: 38px;
				margin: 125px 0 0 100px;
				text-align: left;
			}

			.breadcrumbs{

				text-align: left;
				margin-left: 100px;
			}

			&.about-us{

				background: transparent url(../images/splash-about.png) top center no-repeat;
				background-size: cover;
				align-items: flex-start;
			}

			&.blog-article{

				.title{

					font-size: 28px;
					text-align: center;
					margin: 125px auto 15px;
				}
			}

			&.project{

				.wrapper{

				}

				.project-logo{

				}

				.title{

					margin: 0 auto 30px;
					max-width: 750px;
					font-size: 38px;
					line-height: 1.2;
					text-align: center;
				}

				.breadcrumbs{

					text-align: center;
					margin: 0 auto;
				}
			}
		}

		&.home{

			height: auto;

			.slide{

				height: 300px;

				.title{

					margin: 0;
				}
			}

			ul {

				top: auto;
			}
		}

		&.blog-article {

		}
	}

}


@media only screen and ( min-width: 992px ){

	.slides{

		.slide{

			.title{

				font-size: 50px;
				margin-top: 125px;
				margin-left: 175px;
			}

			.breadcrumbs{

				margin-left: 175px;
			}

			&.blog-article{

				.wrapper{

					padding: 0 100px;
				}
			}
		}

		&.blog-article {

		}
	}
}


@media only screen and ( min-width: 1080px ){

	.slides{

		.slide{

			.title{


			}

			.breadcrumbs{

			}

			&.blog-article{

				.wrapper{

					padding: 0 180px;
				}
			}
		}
	}
}