
/** Social Icons **/

.social-icons{

	ul{

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0;

		li{

			width: 40px;
			height: 33px;
			display: block;
			margin: 0 5px;
			background: transparent url(../images/social-icons-hex.png) 0 0 no-repeat;
			background-size: cover;

			@include hide-text;

			a{

				display: block;
				width: 100%;
				height: 100%;
			}
		}

		li.facebook{

			background-position: 0 0;
		}

		li.twitter{

			background-position: -40px 0;
		}

		li.youtube{

			background-position: -80px 0;
		}
	}
}

.social-share{

	ul {

		li {

			width: 56px;
			height: 46px;
			display: block;
			margin: 0 5px;
			background: transparent url(../images/social-icons-hex-gray.png) 0 0 no-repeat;
			background-size: cover;
		}

		li.facebook {

			background-position: 0 0;
		}

		li.twitter {

			background-position: -56px 0;
		}

		li.linkedin {

			background-position: -112px 0;
		}

		li.email {

			background-position: -168px 0;
		}
	}
}


@media only screen and ( min-width: 768px ){

	/** Social Icons **/

	.social-icons{

		ul{

			li{

				width: 67px;
				height: 55px;
			}

			li.facebook{

				background-position: 0 0;
			}

			li.twitter{

				background-position: -67px 0;
			}

			li.youtube{

				background-position: -134px 0;
			}
		}
	}

	.social-share {

		ul {

			li {

				width: 80px;
				height: 66px;
			}

			li.facebook {

				background-position: 0 0;
			}

			li.twitter {

				background-position: -80px 0;
			}

			li.linkedin {

				background-position: -160px 0;
			}

			li.email {

				background-position: -240px 0;
			}
		}
	}
}