/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

html, body {
  height: 100%; }

body {
  min-height: 100%; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

@media only screen and (min-width: 640px) {
  .wrapper {
    max-width: 640px; } }

@media only screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
    max-width: 100%; } }

@media only screen and (min-width: 992px) {
  .wrapper {
    width: 992px; } }

@media only screen and (min-width: 1100px) {
  .wrapper {
    width: 1080px; } }

* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 1.4;
  color: #363636; }

ul, ul li, ol, ol li {
  margin: 0;
  padding: 0;
  list-style: none; }

h3 {
  color: #7f171a;
  font-size: 24px;
  margin-bottom: .75em; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7f171a; }

ol, ul {
  margin-left: 1.5em; }
  ol li, ul li {
    margin-left: 10px;
    margin-bottom: 0.5em; }

ul li {
  list-style: disc; }

ol li {
  list-style: decimal; }

nav ul, nav ol {
  margin: 0; }
  nav ul li, nav ol li {
    list-style: none;
    margin: 0; }

.desktop-only {
  display: none; }

.breadcrumbs {
  color: #ffffff;
  font-size: 13px;
  font-weight: normal; }
  .breadcrumbs a {
    color: #ffffff;
    text-decoration: none; }
  .breadcrumbs .separator {
    font-size: 11px; }

/** Buttons **/
.button {
  display: inline-block;
  border: 2px solid #7f171a;
  border-radius: 34px;
  text-transform: uppercase;
  color: #7f171a;
  background: transparent;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  height: 34px;
  line-height: 34px;
  padding: 0 25px;
  margin: 5px auto; }
  .button.current, .button.active {
    color: #ffffff;
    background-color: #7f171a; }

/** Forms **/
form .text, form textarea {
  color: #6b1b1b;
  border-radius: 34px;
  width: 100%;
  height: 34px;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  margin: 5px auto 10px;
  padding: 0 25px; }
  form .text::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    /* Safari, Chrome and Opera */
    color: #6b1b1b; }
  form .text:-moz-placeholder, form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #6b1b1b; }
  form .text::-moz-placeholder, form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #6b1b1b; }
  form .text:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #6b1b1b; }
  form .text::-ms-input-placeholder, form textarea::-ms-input-placeholder {
    /* Edge */
    color: #6b1b1b; }
  form .text:placeholder-shown, form textarea:placeholder-shown {
    /* Standard one last! */
    color: #6b1b1b; }
form textarea {
  border-radius: 14px;
  box-sizing: border-box;
  padding: 10px 25px;
  resize: none; }

@media only screen and (min-width: 768px) {
  ol, ul {
    margin-left: 2.5em; }
    ol li, ul li {
      margin-left: 20px; } }

@media only screen and (min-width: 992px) {
  .desktop-only {
    display: block; }
  .mobile-only {
    display: none; } }

header {
  text-align: center;
  background-color: #ffffff;
  position: relative;
  height: 100px;
  /** Menu Button and animations **/ }
  header .logo img {
    max-width: 175px;
    margin: 25px auto 10px; }
  header .button {
    display: block;
    width: 52px;
    height: 52px;
    padding: 5px;
    border: 2px solid #7f171a;
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    color: #7f171a;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1; }
    header .button .icon {
      width: 18px;
      height: 18px;
      margin: 3px auto 10px;
      display: block; }
  header .menu {
    position: absolute;
    top: 40px;
    right: 5px;
    padding: 35px 5px 3px; }
  header .menu .icon {
    top: 15px;
    left: 10px; }
  header .menu .icon, header .menu .icon:before, header .menu .icon:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 30px;
    background: #7f171a;
    margin: auto;
    position: absolute;
    display: block;
    content: '';
    box-sizing: border-box; }
  header .menu .icon:before {
    top: -8px; }
  header .menu .icon:after {
    bottom: -8px; }
  header .menu .icon, header .menu .icon:before, header .menu .icon:after {
    transition: all 500ms ease-in-out; }
  header .menu.active .icon {
    background-color: transparent; }
  header .menu.active .icon:before {
    top: 0; }
  header .menu.active .icon:after {
    bottom: 0; }
  header .menu.active .icon:before {
    transform: rotate(45deg); }
  header .menu.active .icon:after {
    transform: rotate(-45deg); }
  header .phone {
    position: absolute;
    top: 40px;
    left: 5px; }
    header .phone .icon {
      background: transparent url(../images/phone-icon-red.png) center center no-repeat;
      background-size: contain; }
    header .phone .number {
      display: none; }
  header .search {
    display: none; }
  header .menus {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1000; }
  header nav.main {
    background-color: rgba(210, 210, 210, 0.8);
    padding: 20px 15px 10px; }
    header nav.main ul li {
      margin: 0 12px 10px; }
      header nav.main ul li a {
        display: block;
        color: #363636;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #ffffff;
        border-top: 2px solid #7f171a;
        line-height: 45px; }
  header nav.top {
    background-color: rgba(210, 210, 210, 0.8);
    padding: 0 15px 10px; }
    header nav.top ul {
      overflow: hidden; }
      header nav.top ul li {
        width: 50%;
        float: left;
        padding: 5px 5px 5px 0; }
        header nav.top ul li:nth-child(2n) {
          padding-right: 0;
          padding-left: 5px; }
        header nav.top ul li a {
          display: block;
          background-color: #3b3737;
          color: #ffffff;
          text-decoration: none;
          font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
          font-size: 18px;
          line-height: 42px; }
  header .social-icons {
    background-color: rgba(107, 107, 107, 0.9);
    padding: 15px 10px;
    border-bottom: 4px solid #7f171a; }

@media only screen and (min-width: 768px) {
  header {
    height: auto;
    border-top: 30px solid #666060;
    z-index: 100; }
    header .wrapper {
      padding-bottom: 50px;
      padding-top: 25px;
      height: 160px;
      position: relative; }
    header .logo {
      display: block;
      z-index: 5;
      width: 258px;
      height: 84px;
      margin: 0 auto; }
      header .logo img {
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 0; }
    header .menu {
      display: none; }
    header .phone {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: auto;
      height: auto;
      width: 215px;
      padding: 0;
      margin: 0;
      border: none;
      background-color: #c9c9c9;
      color: #3f3f3f;
      text-align: left; }
      header .phone .icon {
        display: inline-block;
        margin: 6px 15px;
        float: left; }
      header .phone .call {
        display: none;
        font-size: 13px; }
      header .phone .number {
        display: inline;
        font-size: 13px;
        line-height: 30px; }
    header .menus {
      display: block;
      position: static;
      top: 0;
      height: 100%;
      z-index: 1; }
    header .search {
      display: block;
      position: absolute;
      top: -30px;
      right: 0;
      z-index: 4;
      width: 215px;
      height: 30px;
      background-color: #3b3737; }
      header .search .text {
        display: inline-block;
        background-color: transparent;
        height: 30px;
        margin: 0;
        padding: 5px 15px;
        border: none;
        color: #ffffff;
        font-size: 13px;
        font-weight: 300; }
        header .search .text:placeholder {
          color: #cfcfcf; }
      header .search .submit {
        width: 30px;
        height: 30px;
        /*position: absolute;
				top: 0;
				right: 0;*/
        border: none;
        background: transparent url(../images/search-icon-white.png) center center no-repeat;
        background-size: 15px 15px;
        overflow: hidden;
        text-indent: 150%;
        white-space: nowrap;
        display: block;
        display: inline-block; }
    header .social-icons {
      display: none; }
    header .menus {
      display: block !important; }
    header nav.main {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      text-align: center;
      background-color: transparent; }
      header nav.main ul li {
        display: inline-block;
        margin: 0 10px; }
        header nav.main ul li a {
          line-height: 1.3;
          font-size: 13px;
          display: inline-block;
          border: none;
          background-color: transparent; }
    header nav.top {
      position: absolute;
      top: -30px;
      right: 0;
      width: 100%;
      height: 30px;
      background-color: transparent; }
      header nav.top ul {
        padding-right: 200px;
        float: right; }
        header nav.top ul li {
          display: inline-block;
          float: none;
          padding: 0;
          margin: 0 25px 0 0;
          width: auto; }
          header nav.top ul li a {
            display: inline-block;
            font-size: 13px;
            font-weight: 300;
            line-height: 30px;
            padding: 0;
            background-color: transparent; } }

@media only screen and (min-width: 992px) {
  header {
    height: 100px; }
    header .wrapper {
      height: auto;
      padding-top: 0; }
    header .logo {
      width: 200px;
      height: 66px;
      position: relative;
      margin: -6px 0 10px 20px;
      z-index: 1000;
      float: left; }
    header .menus {
      position: static;
      top: auto;
      width: auto;
      height: auto;
      float: right; }
    header nav.main {
      position: static;
      margin: 20px 5px 0; } }

footer .red-band {
  background-color: #6b1b1b;
  color: #ffffff;
  text-align: center; }
  footer .red-band .wrapper {
    padding: 20px 15px; }
  footer .red-band .title {
    color: #ffffff;
    margin: 0 0 20px; }
  footer .red-band p {
    font-weight: 300;
    font-size: 13px; }
  footer .red-band .button {
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: left;
    width: 165px; }
    footer .red-band .button .arrow {
      width: 33px;
      height: 10px;
      margin: 11px 0 13px;
      float: right;
      background: transparent url(../images/right-arrow-white.png) top left no-repeat;
      background-size: contain; }
footer .career-page-box a.button {
  text-align: center;
  margin-top: 20px; }
footer .more-information .form-container {
  flex-wrap: wrap; }
footer .more-information .button {
  width: auto; }
footer .middle .wrapper {
  max-width: 100%; }
footer .middle .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  footer .middle .footer-nav ul {
    margin: 20px 35px; }
    footer .middle .footer-nav ul li {
      margin-bottom: 3px; }
      footer .middle .footer-nav ul li a {
        text-decoration: none;
        color: #363636;
        font-size: 12px; }
footer .middle .locations {
  border-top: 2px solid #7f171a;
  padding: 0 15px; }
  footer .middle .locations .title {
    margin: 0 auto;
    padding: 0 5px;
    line-height: 44px;
    color: #7f171a; }
    footer .middle .locations .title .icon {
      float: right;
      margin: 17px 0;
      display: block;
      width: 14px;
      height: 7px;
      background: transparent url(../images/down-caret-red.png) top left no-repeat;
      background-size: contain; }
  footer .middle .locations .locations-list {
    display: none;
    padding-top: 20px; }
    footer .middle .locations .locations-list .location {
      width: 200px;
      margin: 0 auto 25px; }
      footer .middle .locations .locations-list .location p, footer .middle .locations .locations-list .location a {
        margin: 0;
        font-size: 13px;
        line-height: 1.2;
        color: #363636; }
      footer .middle .locations .locations-list .location .name {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px; }
      footer .middle .locations .locations-list .location .address {
        margin-bottom: 3px; }
      footer .middle .locations .locations-list .location .phone a {
        display: inline-block;
        padding: 2px 5px 3px 25px;
        background: transparent url(../images/phone-icon-red-xsmall.png) left center no-repeat;
        text-decoration: none; }
      footer .middle .locations .locations-list .location .directions a {
        display: inline-block;
        padding: 3px 5px 0 25px;
        background: transparent url(../images/location-icon-red-xsmall.png) left center no-repeat;
        text-decoration: none; }
    footer .middle .locations .locations-list.active {
      display: block; }
footer .contact .wrapper {
  max-width: 100%; }
footer .contact .phone {
  background-color: #666060;
  color: #ffffff;
  padding: 15px 5px; }
  footer .contact .phone .wrapper {
    padding-left: 42px;
    position: relative; }
  footer .contact .phone .icon {
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    background: transparent url(../images/phone-icon-white.png) center left no-repeat;
    background-size: 18px; }
  footer .contact .phone p {
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 12px;
    margin: 0;
    letter-spacing: 1px; }
  footer .contact .phone a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px; }
footer .social-icons {
  display: none; }
footer .bottom-bar {
  background-color: #3b3737;
  color: #ffffff;
  padding: 10px 5px; }
  footer .bottom-bar p.copy {
    font-size: 11px;
    text-align: center;
    margin: 0;
    line-height: 1.5; }

@media only screen and (min-width: 640px) {
  footer .red-band .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 540px;
    margin: 0 auto; }
  footer .red-band .text {
    flex: 8;
    width: auto;
    margin-right: 20px; }
  footer .red-band .submit {
    flex: 2; }
  footer .career-page-box a.button {
    text-align: center;
    margin-top: 0;
    margin-left: 20px; }
  footer .more-information .form-container {
    flex-wrap: wrap; }
    footer .more-information .form-container .text {
      width: 48%;
      flex: 0 auto;
      margin-right: auto; }
      footer .more-information .form-container .text.company, footer .more-information .form-container .text.comments {
        width: 98%; }
  footer .middle .locations .locations-list.active {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  footer .middle .locations .location {
    margin: 0 10px; } }

@media only screen and (min-width: 768px) {
  footer .red-band {
    background-color: #561e1e; }
  footer .middle .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px; }
  footer .middle .footer-nav {
    flex: 4;
    align-self: center;
    margin: 0 0 0 10px; }
    footer .middle .footer-nav ul {
      margin: 0 40px 0 0; }
  footer .middle .locations {
    flex: 8;
    border-top: none; }
    footer .middle .locations .title {
      color: #363636;
      font-size: 18px;
      border-bottom: 2px solid #7f171a;
      padding: 0;
      margin: 0;
      line-height: 1.2; }
      footer .middle .locations .title .icon {
        display: none; }
    footer .middle .locations .locations-list {
      padding-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      footer .middle .locations .locations-list .location {
        width: auto;
        margin: 0; }
        footer .middle .locations .locations-list .location p, footer .middle .locations .locations-list .location a {
          font-size: 12px; }
        footer .middle .locations .locations-list .location .name {
          font-size: 15px; }
  footer .contact {
    position: relative;
    background-color: #666060; }
    footer .contact .wrapper {
      position: relative; }
    footer .contact .phone {
      height: 80px;
      padding: 20px 300px 20px 5px; }
      footer .contact .phone .wrapper {
        padding-left: 47px; }
      footer .contact .phone p {
        font-size: 14px; }
      footer .contact .phone a {
        font-size: 20px; }
      footer .contact .phone .icon {
        width: 26px;
        height: 26px;
        background-size: 26px;
        left: 10px;
        margin-top: -13px; }
    footer .contact .social-icons {
      display: block;
      position: absolute;
      top: 12px;
      right: 10px; }
  footer .bottom-bar .wrapper {
    padding: 0 10px; }
  footer .bottom-bar p.copy {
    text-align: left; } }

@media only screen and (min-width: 992px) {
  footer .more-information .form-container {
    max-width: 750px;
    justify-content: space-between; }
    footer .more-information .form-container .text {
      width: 48%;
      flex: 0 auto;
      margin: 0 15px 10px 0; }
      footer .more-information .form-container .text.name, footer .more-information .form-container .text.company {
        width: 31%; }
      footer .more-information .form-container .text.comments {
        width: 76%; }
    footer .more-information .form-container .button {
      margin-top: 0;
      margin-left: 0;
      width: 20%; } }

.slides {
  margin-top: -100px; }
  .slides ul {
    margin: 0; }
    .slides ul li {
      margin: 0; }
  .slides .slide {
    background: transparent url(../images/slides/slide-1-mobile.png) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px; }
    .slides .slide .title {
      color: #ffffff;
      font-size: 26px;
      text-transform: uppercase;
      text-align: center;
      margin: 95px 0 0;
      letter-spacing: 3px; }
    .slides .slide p {
      color: #ffffff;
      font-size: 12px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
      letter-spacing: 1px; }
    .slides .slide .breadcrumbs {
      text-align: center; }
    .slides .slide.about-us {
      background: transparent url(../images/splash-about.png) top center no-repeat;
      background-size: cover; }
    .slides .slide.home {
      margin: 25px 0 0; }
    .slides .slide.blog-article .wrapper {
      padding: 0 15px; }
    .slides .slide.blog-article .title {
      font-size: 22px;
      line-height: 1.3;
      margin-bottom: 10px; }
    .slides .slide.blog-article .meta {
      text-align: center;
      color: #ffffff; }
      .slides .slide.blog-article .meta .tags {
        display: inline; }
      .slides .slide.blog-article .meta .tag {
        display: inline;
        color: #ffffff; }
    .slides .slide.project {
      padding-top: 100px; }
      .slides .slide.project .wrapper {
        padding: 0 15px; }
      .slides .slide.project .project-logo {
        display: block;
        margin: 5px auto 15px;
        max-width: 280px;
        max-height: 50px; }
      .slides .slide.project .title {
        margin: 0 0 10px;
        font-size: 18px;
        line-height: 1.3; }

@media only screen and (min-width: 768px) {
  .slides {
    margin: 0;
    height: 293px; }
    .slides ul {
      position: relative;
      top: -100px;
      z-index: 1; }
    .slides .slide {
      background-image: url(../images/slides/slide-1.png);
      height: 393px; }
      .slides .slide .title {
        font-size: 38px;
        margin: 125px 0 0 100px;
        text-align: left; }
      .slides .slide .breadcrumbs {
        text-align: left;
        margin-left: 100px; }
      .slides .slide.about-us {
        background: transparent url(../images/splash-about.png) top center no-repeat;
        background-size: cover;
        align-items: flex-start; }
      .slides .slide.blog-article .title {
        font-size: 28px;
        text-align: center;
        margin: 125px auto 15px; }
      .slides .slide.project .title {
        margin: 0 auto 30px;
        max-width: 750px;
        font-size: 38px;
        line-height: 1.2;
        text-align: center; }
      .slides .slide.project .breadcrumbs {
        text-align: center;
        margin: 0 auto; }
    .slides.home {
      height: auto; }
      .slides.home .slide {
        height: 300px; }
        .slides.home .slide .title {
          margin: 0; }
      .slides.home ul {
        top: auto; } }

@media only screen and (min-width: 992px) {
  .slides .slide .title {
    font-size: 50px;
    margin-top: 125px;
    margin-left: 175px; }
  .slides .slide .breadcrumbs {
    margin-left: 175px; }
  .slides .slide.blog-article .wrapper {
    padding: 0 100px; } }

@media only screen and (min-width: 1080px) {
  .slides .slide.blog-article .wrapper {
    padding: 0 180px; } }

.posts {
  background: transparent url(../images/blog-background.png) top center no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 35px; }
  .posts .title {
    text-align: center;
    margin: 0 auto 30px; }
  .posts .load-more {
    text-align: center;
    margin-bottom: 0; }
  .posts .post {
    width: 300px;
    margin: 30px auto;
    padding-bottom: 45px;
    position: relative;
    box-shadow: 1px 1px 14px #6f6f6f;
    background-color: #ffffff; }
    .posts .post .thumb {
      width: 100%; }
    .posts .post .content {
      padding: 10px 15px; }
    .posts .post .meta {
      color: #686868;
      font-size: 13px;
      margin-bottom: 25px; }
      .posts .post .meta .date {
        margin-right: 5px; }
      .posts .post .meta .tags {
        display: inline; }
      .posts .post .meta .tag {
        margin-left: 5px;
        color: #7f171a; }
    .posts .post .title {
      font-size: 16px;
      margin-bottom: 10px;
      color: #294547;
      text-align: left; }
      .posts .post .title a {
        color: inherit;
        text-decoration: none; }
    .posts .post .excerpt {
      color: #4f4f4f;
      font-size: 13px;
      line-height: 1.5; }
    .posts .post .social {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 25px; }
      .posts .post .social ul li {
        display: inline-block;
        margin: 0 3px; }
        .posts .post .social ul li a {
          width: 22px;
          height: 22px;
          display: block;
          overflow: hidden;
          text-indent: 150%;
          white-space: nowrap;
          display: block; }
        .posts .post .social ul li.facebook a {
          background: transparent url(../images/facebook-icon-grey.png) center center no-repeat;
          background-size: contain; }
        .posts .post .social ul li.twitter a {
          background: transparent url(../images/twitter-icon-grey.png) center center no-repeat;
          background-size: contain; }
        .posts .post .social ul li.favorite a {
          background: transparent url(../images/favorite-icon-grey.png) center center no-repeat;
          background-size: contain; }
    .posts .post .read-more {
      position: absolute;
      right: 20px;
      bottom: 20px;
      display: block;
      width: 40px;
      height: 12px;
      background: transparent url(../images/right-arrow-red.png) center right no-repeat;
      background-size: 40px 12px;
      overflow: hidden;
      text-indent: 150%;
      white-space: nowrap;
      display: block; }

@media only screen and (min-width: 640px) {
  .posts .post {
    width: 360px; } }

@media only screen and (min-width: 768px) {
  .posts .posts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .posts .posts-list .post {
      margin: 10px 20px 40px;
      width: 240px; }
    .posts .posts-list .featured {
      width: 520px;
      position: relative;
      padding-bottom: 0; }
      .posts .posts-list .featured .thumb {
        position: relative;
        z-index: 1;
        margin: 0;
        display: block; }
      .posts .posts-list .featured .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2; }
        .posts .posts-list .featured .content .meta {
          color: #ffffff; }
          .posts .posts-list .featured .content .meta .tag {
            color: inherit; }
        .posts .posts-list .featured .content .title {
          font-size: 22px;
          color: #ffffff; }
        .posts .posts-list .featured .content .excerpt {
          color: #ffffff; }
      .posts .posts-list .featured .read-more {
        background: transparent url(../images/right-arrow-white.png) center right no-repeat;
        background-size: 40px 12px; } }

@media only screen and (min-width: 992px) {
  .posts .posts-list {
    justify-content: space-between;
    padding: 0 15px; }
    .posts .posts-list .post {
      width: 30%;
      max-height: 388px;
      margin: 10px 0 40px; }
      .posts .posts-list .post .title {
        line-height: 1.3; }
      .posts .posts-list .post .excerpt {
        line-height: 1.4;
        margin-top: 0; }
    .posts .posts-list .featured {
      width: 65%;
      overflow: hidden; }
      .posts .posts-list .featured .thumb {
        height: 100%;
        width: 100%;
        margin: 0 auto; }
      .posts .posts-list .featured .content {
        padding: 10px 30px; }
      .posts .posts-list .featured .meta {
        margin-top: 10px;
        margin-bottom: 70px; }
      .posts .posts-list .featured .title {
        font-size: 28px;
        margin-bottom: 25px; } }

/** Social Icons **/
.social-icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .social-icons ul li {
    width: 40px;
    height: 33px;
    display: block;
    margin: 0 5px;
    background: transparent url(../images/social-icons-hex.png) 0 0 no-repeat;
    background-size: cover;
    overflow: hidden;
    text-indent: 150%;
    white-space: nowrap;
    display: block; }
    .social-icons ul li a {
      display: block;
      width: 100%;
      height: 100%; }
  .social-icons ul li.facebook {
    background-position: 0 0; }
  .social-icons ul li.twitter {
    background-position: -40px 0; }
  .social-icons ul li.youtube {
    background-position: -80px 0; }

.social-share ul li {
  width: 56px;
  height: 46px;
  display: block;
  margin: 0 5px;
  background: transparent url(../images/social-icons-hex-gray.png) 0 0 no-repeat;
  background-size: cover; }
.social-share ul li.facebook {
  background-position: 0 0; }
.social-share ul li.twitter {
  background-position: -56px 0; }
.social-share ul li.linkedin {
  background-position: -112px 0; }
.social-share ul li.email {
  background-position: -168px 0; }

@media only screen and (min-width: 768px) {
  /** Social Icons **/
  .social-icons ul li {
    width: 67px;
    height: 55px; }
  .social-icons ul li.facebook {
    background-position: 0 0; }
  .social-icons ul li.twitter {
    background-position: -67px 0; }
  .social-icons ul li.youtube {
    background-position: -134px 0; }
  .social-share ul li {
    width: 80px;
    height: 66px; }
  .social-share ul li.facebook {
    background-position: 0 0; }
  .social-share ul li.twitter {
    background-position: -80px 0; }
  .social-share ul li.linkedin {
    background-position: -160px 0; }
  .social-share ul li.email {
    background-position: -240px 0; } }

.categories {
  z-index: 100;
  position: relative; }
  .categories ul {
    margin: -58px auto 0; }
    .categories ul li {
      width: 141px;
      margin: 0 auto 20px;
      background: transparent url(../images/tile-loading-docks.png) top center no-repeat;
      background-size: contain;
      list-style: none; }
      .categories ul li a {
        display: block;
        margin: 0 auto;
        width: 141px;
        min-height: 167px;
        padding: 125px 30px 0;
        font-size: 12px;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
        color: #294547;
        text-decoration: none;
        position: relative; }
        .categories ul li a span {
          opacity: 0;
          position: absolute;
          top: 58px;
          left: 0;
          width: 141px;
          height: 56px;
          background: transparent url(../images/tile-overlay-learn-more.png) bottom center no-repeat;
          background-size: contain; }
        .categories ul li a:hover span {
          opacity: 1; }
      .categories ul li.loading-docks {
        background-image: url(../images/tile-loading-docks.png); }
      .categories ul li.doors {
        background-image: url(../images/tile-doors.png); }
      .categories ul li.fans {
        background-image: url(../images/tile-fans.png); }
      .categories ul li.lifts-storage {
        background-image: url(../images/tile-lifts-storage.png); }
      .categories ul li.gates-walls {
        background-image: url(../images/tile-gates-walls.png); }

.content {
  padding: 15px; }
  .content .block {
    margin-bottom: 50px; }
    .content .block h3 {
      color: #7f171a; }
    .content .block p {
      color: #363636;
      font-size: 13px;
      line-height: 1.5;
      margin-top: 0; }
    .content .block .read-more {
      border: 2px solid #7f171a;
      border-radius: 34px;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0 95px 0 25px;
      display: inline-block;
      margin: 20px 0 10px;
      text-decoration: none;
      color: #7f171a;
      height: 34px;
      line-height: 34px;
      position: relative; }
      .content .block .read-more span {
        position: absolute;
        top: 9px;
        right: 20px;
        display: block;
        width: 40px;
        height: 12px;
        background: transparent url(../images/right-arrow-red.png) center right no-repeat;
        background-size: 40px 12px; }

.projects {
  background: transparent url(../images/divider-projects.png) top center no-repeat;
  padding-top: 5px; }
  .projects .title {
    margin: 30px 0;
    text-align: center; }
  .projects .projects-list .project {
    width: 100%;
    max-height: 290px;
    position: relative; }
    .projects .projects-list .project .hover {
      visibility: hidden;
      cursor: pointer;
      /*position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;*/
      padding: 20px 20px 50px;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center; }
    .projects .projects-list .project:hover .hover {
      visibility: visible; }
    .projects .projects-list .project img {
      display: block;
      margin: 15px auto;
      max-width: 90%; }
    .projects .projects-list .project p {
      color: #ffffff;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      font-size: 16px;
      line-height: 1.2;
      margin-bottom: 30px;
      text-align: left; }
    .projects .projects-list .project .view {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: inline-block;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 34px;
      margin-bottom: 16px; }
      .projects .projects-list .project .view span {
        display: inline-block;
        width: 34px;
        height: 10px;
        margin-left: 15px;
        background: transparent url(../images/right-arrow-white.png) top left no-repeat;
        background-size: contain; }
  .projects .projects-list .ford {
    background: transparent url(../images/projects/project-1.png) top center no-repeat;
    background-size: cover; }
  .projects .projects-list .project-2 {
    background: transparent url(../images/projects/project-2.png) top center no-repeat;
    background-size: cover; }
  .projects .projects-list .project-3 {
    background: transparent url(../images/projects/project-3.png) top center no-repeat;
    background-size: cover; }
  .projects .projects-list .project-4 {
    background: transparent url(../images/projects/project-4.png) top center no-repeat;
    background-size: cover; }
  .projects .projects-list .project-5 {
    background: transparent url(../images/projects/project-5.png) top center no-repeat;
    background-size: cover; }

.posts {
  background: transparent url(../images/blog-background.png) top center no-repeat;
  background-size: cover;
  padding-top: 30px; }

@media only screen and (min-width: 640px) {
  .categories ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap; }
    .categories ul li {
      margin: 0 30px; } }

@media only screen and (min-width: 768px) {
  .categories ul li {
    margin: 0 3px; }
  .content .col-md-2 {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .content .col-md-2 .col {
      width: 50%; }
  .content .block {
    padding: 0 25px; }
    .content .block h3 {
      padding-bottom: 4px;
      border-bottom: 2px solid #7f171a; } }

@media only screen and (min-width: 992px) {
  .categories ul li {
    margin: 0 10px; }
  .content .col-md-2 {
    max-width: 840px;
    margin: 0 auto; } }

.about-content h4 {
  font-weight: normal;
  font-size: 13px;
  color: #363636;
  text-align: center; }
.about-content p {
  color: #363636; }
.about-content .hex-grey {
  display: none; }
.about-content .hex-building {
  display: block;
  margin: 0 auto; }

.quote-band {
  background: transparent url(../images/quote-band.png) top center no-repeat;
  color: #ffffff;
  text-align: center;
  padding: 95px 20px 20px;
  margin-bottom: 30px; }
  .quote-band .quote {
    font-style: italic;
    font-size: 13px;
    margin: 20px auto 25px;
    line-height: 1.4;
    font-weight: 300;
    max-width: 880px; }
  .quote-band .signature {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 15px; }

.our-history {
  padding: 10px 15px; }
  .our-history h3 {
    text-align: center; }
  .our-history .box {
    margin-bottom: 60px; }
    .our-history .box .title {
      color: #363636;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .our-history .box p {
      font-size: 13px;
      color: #363636;
      font-weight: 300;
      line-height: 1.4; }

.today {
  padding: 15px; }
  .today h3 {
    text-align: center; }
  .today p {
    font-size: 13px;
    color: #363636;
    font-weight: 300;
    line-height: 1.4; }
  .today .quote-box {
    display: none; }

@media only screen and (min-width: 640px) {
  .quote-band {
    padding-left: 90px;
    padding-right: 90px; }
  .our-history {
    padding: 10px 50px; }
    .our-history .box {
      max-width: 450px;
      margin: 0 auto 20px; }
  .today .cols {
    max-width: 450px;
    margin: 0 auto 20px; }
  .today .quote-box {
    background: transparent url(../images/quote-background-white.png) top center no-repeat;
    background-size: contain;
    padding-top: 60px; } }

@media only screen and (min-width: 768px) {
  .about-content {
    background: transparent url(../images/about-content-background.png) bottom right no-repeat;
    padding-bottom: 80px; }
    .about-content h4 {
      text-align: left; }
  .quote-band {
    margin-top: -60px; } }

@media only screen and (min-width: 992px) {
  .about-content .top {
    margin-bottom: 45px; }
  .about-content .bottom {
    text-align: right;
    margin-bottom: 20px; }
    .about-content .bottom h4 {
      text-align: right; }
  .about-content .hex-grey {
    display: block;
    margin-top: -80px;
    margin-right: 30px;
    margin-bottom: 40px;
    z-index: 100;
    position: relative;
    float: left; }
  .about-content .hex-building {
    display: block;
    margin-left: 30px;
    margin-bottom: 60px;
    clear: both;
    float: right; }
  .quote-band {
    background-size: auto; }
  .our-history h3 {
    text-align: center;
    margin-bottom: 45px; }
  .our-history .boxes {
    margin: 0 auto;
    width: 800px;
    height: 1587px;
    background: transparent url(../images/timeline.png) top center no-repeat;
    background-size: contain;
    position: relative; }
  .our-history .box {
    width: 340px;
    padding: 0 10px;
    display: block;
    position: absolute; }
    .our-history .box .title {
      font-size: 13px;
      letter-spacing: 0;
      margin-bottom: 8px; }
    .our-history .box p {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.3; }
  .our-history .box-1 {
    top: 200px;
    right: 15px; }
  .our-history .box-2 {
    top: 405px;
    left: 15px; }
  .our-history .box-3 {
    top: 757px;
    right: 15px; }
  .our-history .box-4 {
    top: 925px;
    left: 15px; }
  .our-history .box-5 {
    top: 1158px;
    right: 15px; }
  .today {
    background: transparent url(../images/today-background.png) top center no-repeat;
    background-size: cover;
    color: #ffffff;
    padding-top: 80px;
    margin-top: -66px; }
    .today p {
      color: #ffffff;
      font-size: 12px; }
    .today .cols {
      width: 800px;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .today .cols .col {
        padding: 10px; }
      .today .cols .col-2 {
        width: 47%; }
    .today .quote-box {
      display: block;
      background: transparent url(../images/quote-background-white.png) top center no-repeat;
      background-size: contain;
      width: 700px;
      height: 180px;
      padding: 75px 70px 10px;
      margin: 10px auto; }
      .today .quote-box p {
        color: #363636;
        line-height: 1.6;
        text-align: center; } }

@media only screen and (min-width: 1100px) {
  .about-content .bottom .text {
    padding-left: 125px; }
  .our-history .boxes {
    width: 1008px;
    height: 2000px; }
  .our-history .box {
    width: 420px;
    display: block; }
    .our-history .box .title {
      font-size: 15px;
      letter-spacing: 0;
      margin-bottom: 25px; }
    .our-history .box p {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 1.4; }
  .our-history .box-1 {
    top: 255px;
    right: 20px; }
  .our-history .box-2 {
    top: 510px;
    left: 20px; }
  .our-history .box-3 {
    top: 960px;
    right: 20px; }
  .our-history .box-4 {
    top: 1180px;
    left: 20px; }
  .our-history .box-5 {
    top: 1464px;
    right: 20px; }
  .today {
    padding-top: 100px;
    margin-top: -82px; }
    .today p {
      font-size: 13px;
      line-height: 1.5; }
    .today .cols {
      width: 1008px; }
    .today .quote-box {
      width: 946px;
      height: 228px;
      padding: 100px 105px 10px;
      margin-bottom: 30px; }
      .today .quote-box p {
        font-size: 14px; } }

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 480px;
  margin: 0 auto 20px; }
  .tags .button {
    width: 45%; }
    .tags .button.archives {
      padding-left: 65px;
      position: relative; }
      .tags .button.archives .icon {
        display: inline-block;
        width: 25px;
        height: 17px;
        background: transparent url(../images/icon-archives.png) top left no-repeat;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -8px; }

@media only screen and (min-width: 768px) {
  .tags {
    justify-content: center;
    max-width: 90%; }
    .tags .button {
      width: auto;
      padding: 0 35px;
      margin: 10px 15px; } }

@media only screen and (min-width: 992px) {
  .tags {
    justify-content: center;
    max-width: 100%; }
    .tags .button {
      width: auto;
      padding: 0 35px;
      margin: 10px 10px; } }

article.blog-article {
  max-width: 700px;
  margin: 0 auto 35px;
  padding: 0 15px; }
  article.blog-article .back .button {
    padding-left: 60px;
    position: relative; }
    article.blog-article .back .button .icon {
      position: absolute;
      top: 50%;
      left: 10px;
      margin-top: -4px;
      display: block;
      width: 34px;
      height: 11px;
      background: transparent url(../images/left-arrow-red.png) top left no-repeat;
      background-size: contain; }
  article.blog-article h4 {
    color: #7f171a;
    font-weight: 300;
    font-style: italic;
    text-transform: none; }
  article.blog-article ul li {
    list-style-image: url(../images/red-bullet.png);
    margin-bottom: 10px;
    padding-left: 10px; }

.share-article {
  padding: 40px 0;
  background-color: #f4f4f4; }
  .share-article .title {
    color: #7d7d7d;
    text-align: center;
    margin: 0 0 20px; }

.product-content {
  background: transparent url(../images/divider-projects.png) bottom center no-repeat;
  padding-bottom: 20px; }
  .product-content h4 {
    color: #294547; }
  .product-content .hex-grey {
    display: none; }

.products {
  background-color: #f4f4f4;
  padding: 15px; }
  .products .links {
    margin-bottom: 25px;
    padding: 0 20px; }
    .products .links .button {
      max-width: 480px;
      display: block;
      margin: 8px auto; }
  .products .product {
    background-color: #ffffff;
    box-shadow: 1px 1px 15px #9f9f9f;
    margin: 10px auto 25px;
    padding: 10px;
    max-width: 480px; }
    .products .product .thumb {
      width: 100%; }
      .products .product .thumb img {
        display: block;
        max-width: 100%;
        max-height: 220px;
        margin: 0 auto; }
    .products .product .content {
      padding-left: 20px; }
      .products .product .content .title {
        text-align: center; }
      .products .product .content ul {
        margin-left: 0; }
        .products .product .content ul li {
          list-style-image: url(../images/green-bullet.png);
          margin-bottom: 15px; }
    .products .product .back-to-top {
      text-align: right;
      margin-top: 20px;
      margin-bottom: 0; }
      .products .product .back-to-top a {
        color: #7f171a; }
  .products .load-more {
    text-align: center; }

@media only screen and (min-width: 768px) {
  .product-content {
    padding: 0; }
    .product-content .wrapper {
      margin: 0 auto;
      padding: 15px 15px 30px; }
    .product-content .hex-grey {
      display: block;
      float: left;
      margin-right: 20px;
      margin-top: -80px;
      margin-bottom: 65px;
      z-index: 1000;
      position: relative; }
  .products {
    padding: 15px 0 0; }
    .products .wrapper {
      margin: 0 auto;
      padding: 10px; }
    .products .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%; }
      .products .links .button {
        width: 45%; }
    .products .product {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      max-width: 100%; }
      .products .product .thumb {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .products .product .thumb img {
          width: 100%; }
      .products .product .content {
        flex: 1; }
        .products .product .content .title {
          text-align: left; } }

@media only screen and (min-width: 992px) {
  .products .links .button {
    width: 30%;
    font-size: 12px;
    padding: 0 10px;
    margin: 4px auto; } }

@media only screen and (min-width: 1100px) {
  .product-content .wrapper {
    padding-bottom: 40px; }
  .products {
    padding-top: 30px; } }

.contact-content {
  padding: 0 15px; }
  .contact-content .form-wrapper {
    background-color: #663333;
    padding: 10px 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 25px; }
    .contact-content .form-wrapper .hex-grey {
      display: none; }
    .contact-content .form-wrapper h2 {
      color: #ffffff;
      margin-bottom: 5px; }
    .contact-content .form-wrapper p {
      margin-top: 0;
      color: #ffffff; }
    .contact-content .form-wrapper .button {
      border-color: #ffffff;
      color: #ffffff; }
    .contact-content .form-wrapper textarea {
      height: 80px; }

.contact-locations {
  padding: 15px 0; }
  .contact-locations .location {
    text-align: center;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    padding: 20px 15px; }
    .contact-locations .location .title {
      margin-top: 0; }
    .contact-locations .location .button {
      display: block;
      margin: 5px auto 10px;
      clear: both;
      max-width: 200px;
      color: #363636;
      padding-left: 50px;
      position: relative; }
      .contact-locations .location .button.current, .contact-locations .location .button.active {
        color: #ffffff; }
    .contact-locations .location .phone .icon {
      width: 17px;
      height: 18px;
      background: transparent url(../images/phone-icon-red.png) top left no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 15px; }
    .contact-locations .location .service .icon {
      width: 17px;
      height: 18px;
      background: transparent url(../images/location-icon-red.png) top left no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      margin-top: -9px;
      left: 15px; }
    .contact-locations .location .service.current .icon, .contact-locations .location .service.active .icon {
      background: transparent url(../images/location-icon-white.png) top left no-repeat;
      background-size: contain; }
    .contact-locations .location .service-area {
      display: none;
      margin: 30px auto 10px;
      max-width: 90%; }
      .contact-locations .location .service-area.active {
        display: block; }

#map {
  background: transparent url(../images/divider-projects.png) top center no-repeat;
  padding-top: 5px;
  width: 100%;
  height: 250px;
  background-color: #efefef; }

@media only screen and (min-width: 768px) {
  .contact-content {
    max-width: 980px;
    margin: 35px auto; }
    .contact-content .form-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 15px 40px; }
      .contact-content .form-wrapper .form-header {
        width: 100%;
        position: relative;
        margin-bottom: 25px; }
        .contact-content .form-wrapper .form-header .hex-grey {
          display: block;
          position: absolute;
          left: -40px;
          top: -109px;
          z-index: 1000; }
      .contact-content .form-wrapper .text {
        width: 49%; }
      .contact-content .form-wrapper textarea {
        width: 99%; }
      .contact-content .form-wrapper .button {
        padding: 0 40px; }
  .contact-locations {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .contact-locations .location {
      width: 32%;
      align-self: flex-start;
      margin-bottom: 0;
      text-align: left; }
      .contact-locations .location .title {
        font-size: 20px; }
      .contact-locations .location .address {
        margin-bottom: 25px; }
      .contact-locations .location .button {
        margin: 10px 0; } }

.nav {
  margin: 20px 0; }
  .nav .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .nav .button {
    margin: 10px auto;
    width: 280px; }
  .nav .prev {
    padding-left: 80px;
    position: relative;
    text-align: right; }
    .nav .prev .arrow {
      width: 49px;
      height: 15px;
      position: absolute;
      left: 10px;
      top: 50%;
      margin-top: -7px;
      background: transparent url(../images/left-arrow-red.png) top left no-repeat;
      background-size: contain; }
  .nav .next {
    padding-right: 80px;
    position: relative;
    text-align: left; }
    .nav .next .arrow {
      width: 49px;
      height: 15px;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
      background: transparent url(../images/right-arrow-red.png) top left no-repeat;
      background-size: contain; }

.gallery {
  position: relative;
  margin: 0 auto; }
  .gallery ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .gallery ul li {
      margin: 0;
      padding: 0;
      list-style: none; }
  .gallery .images .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto; }
  .gallery .navigation {
    display: none; }

.project-content .block h3 {
  color: #294547;
  font-size: 1em;
  border: none; }

.key-services {
  background-color: #571f1f;
  padding: 40px 15px;
  margin: 0; }
  .key-services .title {
    color: #ffffff;
    text-align: center;
    margin: 0 0 30px; }
  .key-services ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    .key-services ul li {
      margin: 0 10px 15px;
      padding: 0;
      list-style: none; }
      .key-services ul li a {
        display: block;
        width: 180px;
        height: 215px;
        padding: 150px 30px 10px;
        background: #ffffff url(../images/hex-equipment-selection.png) center 40px no-repeat;
        font-size: 14px;
        text-decoration: none;
        text-align: center;
        color: #294547; }
      .key-services ul li.equipment-selection a {
        background: #ffffff url(../images/hex-equipment-selection.png) center 40px no-repeat; }
      .key-services ul li.approval-drawing a {
        background: #ffffff url(../images/hex-approval-drawing.png) center 40px no-repeat; }
      .key-services ul li.shipment a {
        background: #ffffff url(../images/hex-shipment.png) center 40px no-repeat; }
      .key-services ul li.installation a {
        background: #ffffff url(../images/hex-installation.png) center 40px no-repeat; }
      .key-services ul li.follow-up {
        background: #ffffff url(../images/hex-follow-up.png) center 40px no-repeat; }

@media only screen and (min-width: 640px) {
  .nav .wrapper {
    flex-direction: row;
    justify-content: space-between; }
  .nav .button {
    margin: 0; } }

@media only screen and (min-width: 768px) {
  .nav .wrapper {
    max-width: 630px; }
  .gallery {
    max-width: 630px;
    padding: 0 55px; }
    .gallery .navigation {
      display: block; }
      .gallery .navigation .prev {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -31px;
        width: 76px;
        height: 62px;
        background: transparent url(../images/blog-prev-post.png) top left no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: 150%;
        white-space: nowrap;
        display: block; }
      .gallery .navigation .next {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -31px;
        width: 76px;
        height: 62px;
        background: transparent url(../images/blog-next-post.png) top left no-repeat;
        background-size: contain;
        overflow: hidden;
        text-indent: 150%;
        white-space: nowrap;
        display: block; } }

@media only screen and (min-width: 992px) {
  .nav .wrapper {
    max-width: 800px; }
  .gallery {
    max-width: 800px; }
  .project-content .col-md-2 {
    max-width: 745px; } }

@media only screen and (min-width: 1100px) {
  .nav .wrapper {
    max-width: 820px; }
  .gallery {
    max-width: 820px; }
  .project-content .col-md-2 {
    max-width: 765px; } }



header {
  z-index: 101; }
header .menus .main ul li {
  padding-bottom: 6px; }
header .menus .main ul li.hover, header .menus .main ul li:hover {
  border-bottom: 3px solid #7f171a;
  padding-bottom: 3px;  }

.sub-menu-container {
  display: none; }

@media only screen and (min-width: 768px) {
  .sub-menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.8);
    border-bottom: 3px solid #7f171a;
    padding: 10px 0; }
  .sub-menu-container .wrapper {
    height: auto;
    padding: 0; }
  .sub-menu-container .sub-menu {

    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  .sub-menu-container .sub-menu .menu-item {
    width: 14.66667%;
    list-style: none;
    margin: 20px 1%;
    background-color: #ffffff;
    border-top: 3px solid #7f171a; }
  .sub-menu-container .sub-menu .menu-item img {
    max-width: 100%;
    max-height: 75px;
    display: block;
    margin: 0 auto 20px; }
  .sub-menu-container .sub-menu .menu-item a {
    display: block;
    text-decoration: none;
    color: #294547;
    text-transform: uppercase;
    font-size: 14px;
    padding: 30px 10px 40px; }
  .sub-menu-container .sub-menu .menu-item a span {
    padding: 15px 0;
    display: block; } }

@media only screen and (min-width: 992px) {
  header {
    height: 105px; } }