/*UNIVERSAL*/
body, .content .block p { font-size: 14px; }
.content .block .read-more {
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
}
.categories ul li a { font-family: Montserrat, sans-serif; }
.content .block .read-more:hover { background-color: #7f171a; color: #fff; }
.content .block .read-more:hover span {  
	background-image: url(../images/right-arrow-white.png);
}
a, a:visited, a:hover { color: #6b1b1b; }
.slides .slide .title { font-size: 60px; line-height: 50px; }
.slides .slide { position: relative;  }
.breadcrumbs { font-size: 16px; }
.header-overlay {
    background-color: rgba(41,69,71, .3);
    background-image: url(../images/featured-image-overlay.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.slides .slide .wrapper { position: relative; z-index: 5; }
/*HEADER*/
header .phone .number { font-size: 16px; line-height: 30px; }
header nav.main ul li a { font-family: Montserrat, sans-serif; }
.search input[type="search"] {
	background-color: transparent;
    border: none;
    color: #fff;
    float: left;
    height: 25px;
    padding-left: 10px;
}
header .search input[type="search"]::-webkit-input-placeholder { color: #fff; }
header .search input[type="search"]:-moz-placeholder { color: #fff; }
header .search input[type="search"]::-moz-placeholder { color: #fff; }
header .search input[type="search"]:-ms-input-placeholder { color: #fff; }
.search input[type="submit"] {
	float: right;
    background-image: url(../images/icon-search.png);
    background-position: top 2px center;
    background-repeat: no-repeat;
    background-size: 23px;
    background-color: rgba(0,0,0,.2);
    border: none;
    height: 30px;
    text-indent: 10000px;
    width: 40px;
}
nav.top ul.menu {
    display: block;
    position: static;
    padding: 0 200px 0 0;
}
/*SUBMENU*/
.sub-menu-container { 
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s; 
    opacity: 0;
}
.sub-menu-container:hover { opacity: 1 !important; }
.sub-menu-container .sub-menu .menu-item { height: auto; position: relative; }
.sub-menu-container .sub-menu .menu-item img { margin: 0 auto; }
.sub-menu-container .sub-menu .menu-item a { height: auto; position: static; }
.sub-menu-container .sub-menu .menu-item a span { position: static; }
li.menu-item:hover .menu-overlay { display: block; }
.menu-overlay {
    background: rgba(0,0,0,.6);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.menu-overlay .view {
    top: 160px;
    color: #fff;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
/*HOMEPAGE*/
/*SLIDER*/
.avartanslider > .as-progress-bar.as-progress-bar-hidden { display: none !important; }
.avartanslider > .as-navigation {  
    -webkit-transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: -30px;
    height: 20px;
    width: auto;
    transform: rotate(90deg);
    z-index: 10;
    opacity: 1;
}
.avartanslider > .as-slides > .as-slide > .slide-header {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px !important;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}
.avartanslider > .as-slides > .as-slide > .slider-sub-heading {
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 16px !important;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}
.avartanslider > .as-slides > .as-slide > .slider-button {
    background: #7f171a;
    border-radius: 34px;
    color: #fff;
    display: table !important;
    font-size: 11px !important;
    left: auto !important;
    letter-spacing: 1px !important;
    margin: 0 auto;
    padding: 8px 15px;
    position: relative;
    right: auto;
    text-decoration: none;
    text-transform: uppercase;
}
.avartanslider > .as-navigation > .as-slide-link { z-index: 10; }
.slider-container { position: relative; }
.slider-overlay {  
	background-image: url(../images/slide-overlay.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
}
/*HEXAGONS*/
.categories ul li a span {
    opacity: 0;
    position: absolute;
    top: 51px;
    left: 10px;
    width: 120px;
    height: 56px;
    background: transparent url(../images/tile-overlay-learn-more.png) bottom center no-repeat;
    background-size: contain;
}
/*PRODUCTS*/
.product h2 a { text-decoration: none; color: #6b1b1b; }
#gform_7 { width: 100%; }
#gform_7 ul li.gfield { width: 50%; }
#gform_7 .gform_body input { width: 98%; }
#gform_7 #field_7_6 { width: 100%; }
.gform_wrapper #gform_7 .gform_body { width: 100%; }
form .text:placeholder-shown, form textarea:placeholder-shown { color: #ccc; }
/*FEATURED PROJECTS*/
.projects .projects-list { padding: 0 .5vw 30px .5vw !important; }
.projects .projects-list .project {
    float: left;
    max-height: 33.5vw;
}
.projects .projects-list .project .hover {
    height: 100%;
}
.projects .projects-list .project:nth-of-type(1) {
    width: 20vw;
    height: 33.5vw;
}
.projects .projects-list .project:nth-of-type(1) .hover-contents { margin-top: 80%; }
.projects .projects-list .project:nth-of-type(2) {
    width: 28vw;
    height: 13.5vw;
    margin-left: 0.5vw;
}
.projects .projects-list .project:nth-of-type(2) .hover-contents { margin-top: 15%; }
.projects .projects-list .project:nth-of-type(3) {
    width: 28vw;
    height: 19.5vw;
    margin-left: -28vw;
    margin-top: 14vw;
}
.projects .projects-list .project:nth-of-type(3) .hover-contents { margin-top: 30%; }
.projects .projects-list .project:nth-of-type(4) {
    width: 25vw;
    height: 33.5vw;
    margin-left: 0.5vw;
}
.projects .projects-list .project:nth-of-type(4) .hover-contents { margin-top: 60%; }
.projects .projects-list .project:nth-of-type(5) {
    width: 23vw;
    height: 19.5vw;
    margin-left: 0.5vw;
}
.projects .projects-list .project:nth-of-type(5) .hover-contents { margin-top: 30%; }
.projects .projects-list .project:nth-of-type(6) {
    width: 23vw;
    height: 13.5vw;
    margin-top: 20vw;
    margin-left: -23vw;
}
.projects .projects-list .project:nth-of-type(6) .hover-contents { margin-top: 20%; }
.projects .projects-list .project .view { position: static; }
.projects .title {
    margin: 0;
    padding: 30px 0;
    background-color: #c9d1d3;
}
.projects .projects-list { 
    background-color: #c9d1d3;
    padding: 0 0 30px 0;
}
.projects .projects-list .project h3 { 
    color: #fff; 
    margin: 15px auto;
    padding: 0;
    text-decoration: none; 
    font-size: 20px;
    line-height: 23px;
    margin: 5px 0;
}
.projects .projects-list .project p {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 15px auto;
    padding: 0 15px;
    text-decoration: none;
}
.project .hover a { text-decoration: none; }
.projects.page { 
    background: transparent; 
    padding: 30px 0;
}
.projects.page .projects-list { background: transparent; }
/*NEWS FEED*/
.posts .posts-list {
	margin: 0 auto;
	max-width: 1200px;
    width: 100%;
}
.posts .posts-list .post {
	height: 500px; 
	max-height: 1000px;
	margin: 10px 1.65% 40px; 
}
.post-feed-image { 
	width: 100%; 
	height: auto; 
	max-height: 200px;
	overflow: hidden; 
}
.post-feed-image img { width: 100%; height: auto; }
/*ABOUT*/
.quote-band .quote { font-size: 16px; }
#about-intro-text {
	width: 100%;
	float: right;
}
#about-intro-text-two {  
	width: calc(100% - 350px);
	width: -webkit-calc(100% - 350px);
	float: left;
}
.quote-band {
    background-color: transparent;
    background-image: url(../images/quote-band.png); 
    background-position: top center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 95px 20px 20px;
    margin-bottom: 30px;
}
.today p { font-size: 14px; }
/*TIMELINE*/
h3#history { text-align: center; margin-top: 75px; }
div#history { margin-top: 25px; }
.timeline-feed.max-width { max-width: 1200px; padding: 0 10px; }
.timeline-feed { 
    margin: 75px auto 175px auto; 
    position: relative; 
}
.timeline-feed:before {
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px solid #dcdcdc;
}
.timeline-event { 
    width: -webkit-calc(50% + 25px); 
    width: calc(50% + 25px); 
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
    margin-top: -150px;
}
.timeline-event:nth-child(2), .timeline-event:nth-child(1) { margin-top:0; }
.timeline-event.odd { float: right; }
.timeline-event.even { float: left; }
.timeline-event:nth-last-child(2)  { height: 35px; margin: 0; }
#timeline-first, #timeline-last {
    width: -webkit-calc(50% + 75px);
    width: calc(50% + 75px);
}
#timeline-first #timeline-image, #timeline-last #timeline-image { 
    width: 150px; 
    height: 150px; 
    margin-top: 0;
}
#timeline-first #timeline-image img { margin-top: -15px; }
.timeline-event #timeline-image {
    width: 50px;
    height: 50px;
    margin-top: 232px;
}
.timeline-event.odd #timeline-image { float: left; }
.timeline-event.even #timeline-image { float: right; }
.timeline-event #timeline-content {
    border: 2px solid #dcdcdc;
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    padding: 190px 0 10px 0;
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: -25px;
}
.timeline-event.odd #timeline-content { 
    float: right; 
    margin-left: 50px; 
}
.timeline-event.odd #timeline-content:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -14px;
    top: 280px;
}
.timeline-event.odd #timeline-content:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #dcdcdc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -16px;
    left: -18px;
    top: 280px;
}
.timeline-event.even #timeline-content { 
    float: left; 
    margin-right: 50px; 
}
.timeline-event.even #timeline-content:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    right: -15px;
    top: 280px;
}
.timeline-event.even #timeline-content:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 0 16px 16px;
    border-color: transparent #dcdcdc;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -16px;
    right: -18px;
    top: 280px; 
}
#timeline-content h3, #timeline-content .entry {
    position: relative;
    z-index: 5;
    padding: 0 15px;
}
#timeline-content h3 {
    color: #000;
    text-align: center;
    font-size: 16px;
    margin-bottom: -14px;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 1%, rgba(255,255,255,0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 1%,rgba(255,255,255,0.9) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 1%,rgba(255,255,255,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#e6ffffff',GradientType=0 );
}
#timeline-content .entry {
    min-height: 230px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.91) 1%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.91) 1%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.91) 1%,rgba(255,255,255,1) 8%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#ffffff',GradientType=0 );
}
.timeline-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
}
.timeline-bg img { width: 100%; }
.today { margin-top: -135px; }
/*PROJECTS*/
.post-feed.project-feed article { height: 675px; }
.post-feed.project-feed .project-logo { 
    left: 7.5%;
    position: absolute;
    top: 25px;
    width: 85%;
    box-shadow: 0px 0px 5px #888888;
}
.post-feed.project-feed .post-feed-image { max-height: 400px; }
/*SINGLE PROJEECT*/
.project-article { max-width: 960px; margin: 25px auto; }
.project-article .foogallery-container .fiv-inner-container { pointer-events: none; }
.services-container {
    display: table;
    margin: 0 auto;
}
.key-service-container { 
    width: 125px;
    padding: 15px;
    background: #fff;
    display: inline-block;
    min-height: 170px;
    vertical-align: top;
    margin: 5px;
}
.key-service-container img { width: 100%; padding: 8px; }
.key-service-container p { 
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 0;
}
/*FORMS*/
button, input[type="button"], 
input[type="reset"], input[type="submit"] {
	border: 2px solid #ffffff;
	box-shadow: none;
}
button:hover, input[type="button"]:hover, 
input[type="reset"]:hover, input[type="submit"]:hover {
	box-shadow: none;
}
.gform_wrapper .top_label .gfield_label { display: none !important; }
.gform_wrapper ul li.gfield {
	clear: none !important;
	width: 50%;
	float: left;
}
.gform_wrapper ul li.gfield input { 
	width: 98% !important; 
	border-radius: 25px; 
	padding: 8px 10px;
}
.gform_wrapper ul li.gfield textarea { 
	width: 99%; 
	border-radius: 15px !important;
	padding: 10px;
}
.gform_wrapper .gform_footer input[type=submit], .cta-button {
	border: 1px solid #ffffff;
	background: transparent;
	border-radius: 15px;
	color: #fff;
	font-weight: bold; 
	font-family: 'Montserrat', sans-serif; 
	text-transform: capitalize;
	text-shadow: none;
	padding: 10px 80px;
}
.gform_wrapper .gform_footer input[type=submit]:hover, .cta-button:hover {
	background: #fff;
	color: #7f171a;
}
.gform_wrapper #gform_7 .gform_body::after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
/*CONTACT*/
#gform_wrapper_5 { width: 98%; }
#field_5_5 { width: 100%; }
#field_5_6 { width: 100%; margin: 0; }
#field_5_6 label { 
	color: #fff;
    display: block !important;
    float: left;
    padding: 8px 0;
    line-height: 30px;
    margin: 0;
}
#field_5_6 label span { display: none; }
#field_5_6 select {
	float: right;
    width: calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    border-radius: 25px;
    padding: 8px 10px;
    color: #000;
}
#map { height: 400px; overflow: hidden;  }
/*BLOG*/
.post-feed { 
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 25px 0; 
    width: 100%; 
}
.post-feed aside.widget-area-container { 
    margin: 0 auto; 
    max-width: 1200px; 
    width: 100%;
}
.post-feed aside.widget-area-container .widget, #error-sidebar .widget { 
	display: inline-flex; 
	margin: 0 1.65% 25px 1.65%; 
	width: 46.7%; 
}
.post-feed aside.widget-area-container .widget-title, #error-sidebar .widget-title { margin: 0 10px 0 0; }
.post-feed aside.widget-area-container .widget select, #error-sidebar select { 
	width: 100%; 
	height: 30px; 
	border-radius: 3px;
	color: #ccc;
}
.post-feed aside.widget-area-container .widget form, #error-sidebar .widget form { width: 100%; }
.post-feed aside.widget-area-container .widget input[type="search"], #error-sidebar .widget input[type="search"] {
    background-color: transparent;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid #ccc;
    color: #ccc;
    float: left;
    height: 28px;
    padding: 0 0 0 10px;
    width: -webkit-calc(100% - 52px);
    width: calc(100% - 52px);
}
.post-feed aside.widget-area-container .widget input[type="submit"], #error-sidebar .widget input[type="submit"] {
    background-color: #7f171a;
    background-image: url(../images/icon-search.png);
    background-position: top 2px center;
    background-repeat: no-repeat;
    background-size: 23px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border: none;
    float: right;
    height: 30px;
    text-indent: 10000px;
    width: 40px;
}
.post-feed.main-feed article:nth-child(2) { width: 63.33%; }
.post-feed.main-feed article:nth-child(2) .post-feed-image { max-height: 300px; }
.post-feed.main-feed article:nth-child(2) .post-feed-image img { margin-top: -42px; }
.post-feed article {
	width: 30%;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px #6f6f6f;
    float: left;
    height: 500px;
    margin: 10px 1.65% 40px;
    max-height: 1000px;
    padding-bottom: 45px;
    position: relative;
}
.post-feed article h3, .post-feed article h3 a {
	font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: left;
    line-height: 1.3;
    color: inherit;
    text-decoration: none;
}
.post-feed article .read-more {
    background-size: 40px 12px;
    background: transparent url(../images/right-arrow-red.png) center right no-repeat;
    bottom: 20px;
    display: block;
    display: block;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    text-indent: 150%;
    white-space: nowrap;
    width: 40px;
}
.post-feed article .social {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 25px;
}
.post-feed article .social ul li {
    display: inline-block;
    margin: 0 3px;
}
.post-feed article .social ul li a {
    display: block;
    height: 22px;
    overflow: hidden;
    text-indent: 150%;
    white-space: nowrap;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
}
.post-feed article .social ul li.facebook a {
    background-image: url(../images/facebook-icon-grey.png);
}
.post-feed article .social ul li.twitter a {
    background-image: url(../images/twitter-icon-grey.png);
}
.post-feed article .social ul li.linkedin a,
.posts .post .social ul li.linkedin a {
    background-image: url(../images/linkedinr-icon-grey.png);
    background-size: contain;
}
/*SINGLE POST*/
article.blog-article { max-width: 800px; margin: 0 auto; }
article.blog-article .post-feed-image { margin: 25px auto; }
/*404*/
.page-content.error { width: 1200px; margin: 25px auto; }
#menu-error-menu { 
    width: 800px; 
    margin: 0 auto; 
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
/*FOOTER*/
footer .gform_wrapper form { width: 650px; margin: 0 auto; }
footer .gform_wrapper .gform_footer {
	margin: 0;
    display: inline;
    padding: 0;
    width: 175px;
}
footer .gform_wrapper .gform_body {
	width: calc(100% - 185px );
	width: -webkit-calc(100% - 185px );
}
footer .gform_wrapper .gform_footer input[type=submit], .cta-button {
	margin: 5px 0;
    text-align: center;
    height: 35px;
}
p.about-cta-content { display: inline-block; margin-right: 15px; }
a.cta-button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0px 40px;
    line-height: 32px;
    width: auto;
}
footer .gform_wrapper ul li.gfield, footer .gform_wrapper .gform_body input { width: 100%; }
footer .middle .footer-nav ul li a,
footer .middle .locations .locations-list .location .address,
footer .middle .locations .locations-list .location p, 
footer .middle .locations .locations-list .location a {
	font-family: Montserrat, sans-serif;
}
footer .contact .phone p { font-family: 'Karla', sans-serif; }
footer .contact .phone a { font-weight: bold; font-family: 'Karla', sans-serif; }
footer .bottom-bar { padding: 15px 5px; }
footer .bottom-bar .copy a { color: #fff; }


/*--------------------------------------------------RESPONSIVNESS BREAKING POINTS--*/
@media only screen and (max-width: 1500px) {
    .projects .projects-list .project .hover { padding: 10px; }
    .projects .projects-list .project img { margin: 5px auto; }
    .projects .projects-list .project .view { line-height: 16px; margin-bottom: 0; }
    .projects .projects-list .project:nth-of-type(2), .projects .projects-list .project:nth-of-type(5) {
        height: 16.5vw;
    }
    .projects .projects-list .project:nth-of-type(3), .projects .projects-list .project:nth-of-type(6) {
        height: 16.5vw;
        margin-top: 17vw;
    }
    .projects .projects-list .project:nth-of-type(2) .hover-contents, .projects .projects-list .project:nth-of-type(3) .hover-contents,
    .projects .projects-list .project:nth-of-type(5) .hover-contents, .projects .projects-list .project:nth-of-type(6) .hover-contents  {
        margin-top: 0;
    }
}

/*------------------------------------------------------------------------LAPTOPS--*/
@media only screen and (max-width: 1200px) { 
    .avartanslider > .as-slides > .as-slide > .slider-sub-heading { top: 150px !important; }
    .projects .projects-list .project h3 { font-size: 14px; line-height: 16px; }
    .products .product { margin: 15px 5% !important; }
}
@media only screen and (max-width: 1150px) { 
    .projects .projects-list .project:nth-of-type(1), .projects .projects-list .project:nth-of-type(2),
    .projects .projects-list .project:nth-of-type(3), .projects .projects-list .project:nth-of-type(4),
    .projects .projects-list .project:nth-of-type(5), .projects .projects-list .project:nth-of-type(6) {
        height: 300px;
        max-height: none;
        margin: 0 5px 20px 5px;
        width: -webkit-calc(33.33% - 10px);
        width: calc(33.33% - 10px);
    }
}
/*--------------------------------------------------------------LANDSCAPE TABLETS--*/
@media only screen and (max-width: 1024px) { 
    header .logo { margin-left: 0; }
    header nav.main ul li { margin: 0 5px; }
    .avartanslider > .as-slides > .as-slide > .slide-header {
        font-size: 20px !important;
        width: 100%;
    }
    .avartanslider > .as-slides > .as-slide > .slider-sub-heading {
        top: 120px !important;
        margin: 0 auto;
        white-space: normal;
        line-height: 16px !important;
    }
    .sub-menu-container .sub-menu.show, .sub-menu-container { display: none !important; }
}
/*---------------------------------------------------------------PORTRAIT TABLETS--*/
@media only screen and (max-width: 800px) { 
    .avartanslider > .as-slides > .as-slide > .slider-sub-heading {
        top: 100px !important;
    }
    .categories ul { margin: 15px auto 0; }
    .categories ul li { width: 25%; }
    .posts .posts-list .post { height: auto; width: 350px; }
    .projects .projects-list .project:nth-of-type(1), .projects .projects-list .project:nth-of-type(2),
    .projects .projects-list .project:nth-of-type(3), .projects .projects-list .project:nth-of-type(4),
    .projects .projects-list .project:nth-of-type(5), .projects .projects-list .project:nth-of-type(6) {
        height: 300px;
        max-height: none;
        margin: 0 10px 20px 0;
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px);
    }
    .projects .projects-list .project:nth-of-type(2), .projects .projects-list .project:nth-of-type(4),
    .projects .projects-list .project:nth-of-type(6) { margin: 0 0 20px 10px; }
    .projects .projects-list .project:nth-of-type(1) .hover-contents, .projects .projects-list .project:nth-of-type(2) .hover-contents,
    .projects .projects-list .project:nth-of-type(3) .hover-contents, .projects .projects-list .project:nth-of-type(4) .hover-contents,
    .projects .projects-list .project:nth-of-type(5) .hover-contents, .projects .projects-list .project:nth-of-type(6) .hover-contents {
        margin: 30% 0 0 0;
    }
    .projects .projects-list .project h3 { font-size: 18px; line-height: 20px; }
    .project-article { padding: 0 25px; }
    #about-intro-text { width: 100%; }
    .post-feed.project-feed article, .post-feed article { width: 46.7%; }
    .post-feed.main-feed article:nth-child(2) { width: 96.7%; }
    .categories ul li a {
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        line-height: 16px;
        padding: 110px 30px 0;
    }
    header .logo { margin: -20px 0 0 10px; width: 175px; }
    header .menus { height: 35px; }
    header nav.main { 
        padding: 0px 5px 10px; 
        bottom: auto; 
    }
    header .wrapper { padding-bottom: 0; height: auto; }
    .categories ul li a:hover span { opacity: 0; }
    .timeline-feed.max-width { max-width: 625px; }
    .timeline-event { width: 100%; margin-top: 25px; }
    #timeline-image { display: none; }
    #timeline-first #timeline-image, #timeline-last #timeline-image {
        display: block;
    }
    .timeline-event.odd #timeline-content:before,
    .timeline-event.odd #timeline-content:after,
    .timeline-event.even #timeline-content:before,
    .timeline-event.even #timeline-content:after { display: none; }
    .today { margin-top: 0; }
    .mobile-search { 
        display: block !important; 
        height: 40px;
    }
}
/*---------------------------------------------------------------LANDSCAPE PHONES--*/
@media only screen and (max-width: 700px) { 
    header { height: 75px; }
    .button.current, .button.active {
        color: #7f171a;
        background-color: transparent;
    }
    header .menus .main ul li {
        padding-bottom: 0;
        margin: 10px 0 0 0;
    }
    header .logo img { margin-top: 5px; }
    header .phone, header .menu { top: 10px; }
    nav.top ul.menu { padding: 0; }
    .avartanslider { height: 300px !important; }
    .avartanslider li { height: 100% !important; }
    .categories ul li { width: 100%; height: 200px; }
    .categories ul li a { padding: 150px 30px 0; }
    footer .gform_wrapper form { width: 100%; }
    .projects .projects-list .project:nth-of-type(1), .projects .projects-list .project:nth-of-type(2), 
    .projects .projects-list .project:nth-of-type(3), .projects .projects-list .project:nth-of-type(4), 
    .projects .projects-list .project:nth-of-type(5), .projects .projects-list .project:nth-of-type(6) {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .projects .projects-list .project:nth-of-type(1) .hover-contents, .projects .projects-list .project:nth-of-type(2) .hover-contents,
    .projects .projects-list .project:nth-of-type(3) .hover-contents, .projects .projects-list .project:nth-of-type(4) .hover-contents,
    .projects .projects-list .project:nth-of-type(5) .hover-contents, .projects .projects-list .project:nth-of-type(6) .hover-contents {
        margin: 50px 0 0 0;
    }
    .posts .posts-list .post { margin: 0 auto 25px auto; }
    footer .gform_wrapper .gform_footer input[type=submit], .cta-button { width: 100px; }
    footer .gform_wrapper .gform_body {
        width: calc(100% - 110px );
        width: -webkit-calc(100% - 110px );
    }
    .slides .slide .title {
        font-size: 35px;
        line-height: 38px;
    }
    .products .product {
        margin: 15px 0 !important;
        width: 100%;
    }
    #about-intro-text-two { width: 100%; text-align: left !important; }
    .about-content img { float: none !important; }
    .post-feed.project-feed article, .post-feed article { width: 96.7%; }
    .post-feed aside.widget-area-container .widget, #error-sidebar .widget { width: 96.7%; }
    .our-history { padding: 0; }
    .categories ul li a:hover span { opacity: 0; }
    .posts .posts-list .post { width: 95%; }
    .post-feed { padding: 25px 5px; }
    .slides .slide.blog-article .title {
	    font-size: 18px;
	    line-height: 1.1;
	}
    .timeline-event #timeline-content { width: 100%; }
    .search input[type="search"] {
        background: #3b3737;
        width: 331px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
@media only screen and (min-width: 640px) {
    .categories ul li {
        margin: 0 3px;
    }
}
/*----------------------------------------------------------------PORTRAIT PHONES--*/
@media only screen and (max-width: 500px) { 
    .avartanslider > .as-slides > .as-slide > .slider-sub-heading {
        top: 60px !important;
        width: 350px !important;
    }
}
@media only screen and (max-width: 400px) {
    .avartanslider > .as-slides > .as-slide > .slider-sub-heading {
        top: 50px !important;
        width: 250px !important;
        margin: 0 auto;
        white-space: normal;
        line-height: 16px !important;
    }
}


.projects .projects-list .project { position: relative; }
.projects .projects-list .project a {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*----------------------------------------------------------------*\
		STICKY NAVIGATION (3/12/2018)
\*----------------------------------------------------------------*/
.container {
	padding-top: 70px;
}
.container > header:first-child {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 0 0.625rem #888;
}
@media only screen and (max-width: 800px) {
	.container {
		padding-top: 150px;
	}
}
@media only screen and (max-width: 700px) { 
	.container {
		padding-top: 70px;
	}
}