
.about-content {

	h4{

		font-weight: normal;
		font-size: 13px;
		color: #363636;
		text-align: center;
	}

	p{

		color: #363636;
	}

	.hex-grey {

		display: none;
	}

	.hex-building {

		display: block;
		margin: 0 auto;
	}
}

.quote-band{

	background: transparent url(../images/quote-band.png) top center no-repeat;

	color: #ffffff;
	text-align: center;
	padding: 95px 20px 20px;
	margin-bottom: 30px;

	.quote{

		font-style: italic;
		font-size: 13px;
		margin: 20px auto 25px;
		line-height: 1.4;
		font-weight: 300;

		max-width: 880px;
	}

	.signature{

		text-transform: uppercase;
		font-weight: 300;
		font-size: 15px;
	}
}

.our-history{

	padding: 10px 15px;

	h3{

		text-align: center;
	}

	.boxes{

	}

	.box{

		margin-bottom: 60px;

		.title{

			color: #363636;
			font-size: 14px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 15px;
		}

		p{

			font-size: 13px;
			color: #363636;
			font-weight: 300;
			line-height: 1.4;
		}
	}

}

.today{

	padding: 15px;

	h3{

		text-align: center;
	}

	p{
		font-size: 13px;
		color: #363636;
		font-weight: 300;
		line-height: 1.4;
	}

	.quote-box{

		display: none;
	}
}

@media only screen and ( min-width: 640px ){

	.quote-band{

		padding-left: 90px;
		padding-right: 90px;
	}

	.our-history{

		padding: 10px 50px;

		.box{

			max-width: 450px;
			margin: 0 auto 20px;
		}
	}

	.today{

		.cols{

			max-width: 450px;
			margin: 0 auto 20px;
		}

		.quote-box{

			background: transparent url(../images/quote-background-white.png) top center no-repeat;
			background-size: contain;

			padding-top: 60px;
		}
	}
}

@media only screen and ( min-width: 768px ){

	.about-content {

		background: transparent url(../images/about-content-background.png) bottom right no-repeat;
		padding-bottom: 80px;

		h4{

			text-align: left;
		}

		.hex-grey {

		}

		.hex-building {


		}
	}

	.quote-band{

		margin-top: -60px;
	}
}

@media only screen and ( min-width: 992px ){

	.about-content {

		.top{

			margin-bottom: 45px;

			.text{

			}
		}

		.bottom{

			text-align: right;
			margin-bottom: 20px;

			h4{

				text-align: right;
			}
		}

		.hex-grey {

			display: block;
			margin-top: -80px;
			margin-right: 30px;
			margin-bottom: 40px;
			z-index: 100;
			position: relative;
			float: left;
		}

		.hex-building {

			display: block;
			margin-left: 30px;
			margin-bottom: 60px;
			clear: both;
			float: right;
		}
	}

	.quote-band{

		background-size: auto;
	}

	.our-history{

		h3{

			text-align: center;
			margin-bottom: 45px;
		}

		.boxes{

			margin: 0 auto;
			width: 800px;
			height: 1587px;
			background: transparent url(../images/timeline.png) top center no-repeat;
			background-size: contain;
			position: relative;
		}

		.box{

			width: 340px;
			padding: 0 10px;
			display: block;
			position: absolute;

			.title{

				font-size: 13px;
				letter-spacing: 0;
				margin-bottom: 8px;
			}

			p{

				margin-bottom: 8px;
				font-size: 12px;
				line-height: 1.3;
			}

		}

		.box-1{

			top: 200px;
			right: 15px;
		}

		.box-2{

			top: 405px;
			left: 15px;
		}

		.box-3{

			top: 757px;
			right: 15px;
		}

		.box-4{

			top: 925px;
			left: 15px;
		}

		.box-5{

			top: 1158px;
			right: 15px;
		}
			
	}

	.today{

		background: transparent url(../images/today-background.png) top center no-repeat;
		background-size: cover;
		color: #ffffff;
		padding-top: 80px;
		margin-top: -66px;

		p{
			color: #ffffff;
			font-size: 12px;
		}

		.cols{

			width: 800px;
			max-width: 100%;
			margin: 0 auto;

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.col{

				padding: 10px;
			}

			.col-2{

				width: 47%;
			}
		}

		.quote-box{

			display: block;
			background: transparent url(../images/quote-background-white.png) top center no-repeat;
			background-size: contain;

			width: 700px;
			height: 180px;

			padding: 75px 70px 10px;
			margin: 10px auto;

			p {

				color: #363636;
				line-height: 1.6;
				text-align: center;
			}
		}
	}
}

@media only screen and ( min-width: 1100px ){

	.about-content {

		.bottom{

			.text{

				padding-left: 125px;
			}
		}
	}

	.our-history{

		h3{

		}

		.boxes{

			width: 1008px;
			height: 2000px;
		}

		.box{

			width: 420px;

			.title{

				font-size: 15px;
				letter-spacing: 0;
				margin-bottom: 25px;
			}

			p{

				margin-bottom: 8px;
				font-size: 14px;
				line-height: 1.4;
			}

			display: block
		}

		.box-1{

			top: 255px;
			right: 20px;
		}

		.box-2{

			top: 510px;
			left: 20px;
		}

		.box-3{

			top: 960px;
			right: 20px;
		}

		.box-4{

			top: 1180px;
			left: 20px;
		}

		.box-5{

			top: 1464px;
			right: 20px;
		}

	}

	.today{

		padding-top: 100px;
		margin-top: -82px;

		p{

			font-size: 13px;
			line-height: 1.5;
		}

		.cols{

			width: 1008px;
		}

		.quote-box{

			width: 946px;
			height: 228px;
			padding: 100px 105px 10px;

			margin-bottom: 30px;

			p{

				font-size: 14px;
			}
		}
	}
}