article.blog-article{

	max-width: 700px;
	margin: 0 auto 35px;
	padding: 0 15px;

	.back{

		.button{

			padding-left: 60px;
			position: relative;

			.icon{

				position: absolute;
				top: 50%;
				left: 10px;
				margin-top: -4px;

				display: block;
				width: 34px;
				height: 11px;
				background: transparent url(../images/left-arrow-red.png) top left no-repeat;
				background-size: contain;
			}
		}
	}

	h4{

		color: #7f171a;
		font-weight: 300;
		font-style: italic;
		text-transform: none;
	}

	ul{

		li{

			list-style-image: url(../images/red-bullet.png);
			margin-bottom: 10px;
			padding-left: 10px;
		}
	}

}

.share-article{

	padding: 40px 0;
	background-color: #f4f4f4;

	.title{

		color: #7d7d7d;
		text-align: center;
		margin: 0 0 20px;
	}
}