.tags{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	max-width: 480px;
	margin: 0 auto 20px;

	.button {

		width: 45%;

		&.archives{

			padding-left: 65px;
			position: relative;

			.icon {

				display: inline-block;
				width: 25px;
				height: 17px;
				background: transparent url(../images/icon-archives.png) top left no-repeat;

				position: absolute;
				left: 20px;
				top: 50%;
				margin-top: -8px;
			}
		}
	}
}


@media only screen and ( min-width: 768px ){

	.tags{

		justify-content: center;
		max-width: 90%;

		.button{

			width: auto;
			padding: 0 35px;
			margin: 10px 15px;
		}
	}
}

@media only screen and ( min-width: 992px ){

	.tags{

		justify-content: center;
		max-width: 100%;

		.button{

			width: auto;
			padding: 0 35px;
			margin: 10px 10px;
		}
	}
}