.contact-content{

	padding: 0 15px;

	.form-wrapper{

		background-color: #663333;
		padding: 10px 15px;
		color: #ffffff;
		text-align: center;
		margin-top: 25px;

		.hex-grey{

			display: none;
		}

		h2{

			color: #ffffff;
			margin-bottom: 5px;
		}

		p{
			margin-top: 0;
			color: #ffffff;
		}

		.button{

			border-color: #ffffff;
			color: #ffffff;

		}

		textarea{

			height: 80px;
		}
	}

}

.contact-locations{

	padding: 15px 0;

	.location{

		text-align: center;
		margin-bottom: 30px;
		background-color: #f4f4f4;
		padding: 20px 15px;

		.title{

			margin-top: 0;
		}

		.button{

			display: block;
			margin: 5px auto 10px;
			clear: both;
			max-width: 200px;
			color: #363636;
			padding-left: 50px;
			position: relative;

			&.current,
			&.active{

				color: #ffffff;
			}
		}

		.phone{

			.icon{

				width: 17px;
				height: 18px;
				background: transparent url(../images/phone-icon-red.png) top left no-repeat;
				background-size: contain;

				position: absolute;
				top: 50%;
				margin-top: -9px;
				left: 15px;
			}
		}

		.service{

			.icon{

				width: 17px;
				height: 18px;
				background: transparent url(../images/location-icon-red.png) top left no-repeat;
				background-size: contain;

				position: absolute;
				top: 50%;
				margin-top: -9px;
				left: 15px;
			}

			&.current,
			&.active{

				.icon{

					background: transparent url(../images/location-icon-white.png) top left no-repeat;
					background-size: contain;
				}
			}
		}

		.service-area{

			display: none;
			margin: 30px auto 10px;
			max-width: 90%;

			&.active{

				display: block;
			}
		}
	}
}

#map{

	background: transparent url(../images/divider-projects.png) top center no-repeat;
	padding-top: 5px;

	width: 100%;
	height: 250px;
	background-color: #efefef;
}


@media only screen and ( min-width: 768px ){

	.contact-content{

		max-width: 980px;
		margin: 35px auto;

		.form-wrapper{

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 15px 40px;

			.form-header{

				width: 100%;
				position: relative;
				margin-bottom: 25px;

				.hex-grey{

					display: block;
					position: absolute;
					left: -40px;
					top: -109px;
					z-index: 1000;
				}
			}

			.text{

				width: 49%;
			}

			textarea{

				width: 99%;
			}

			.button{

				padding: 0 40px;
			}
		}
	}

	.contact-locations{

		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.location{

			width: 32%;
			align-self: flex-start;
			margin-bottom: 0;
			text-align: left;

			.title{

				font-size: 20px;
			}

			.address{

				margin-bottom: 25px;
			}

			.button{

				margin: 10px 0;
			}
		}
	}
}