
.categories{

	z-index: 100;
	position: relative;

	ul{
		margin: -58px auto 0;

		li{

			width: 141px;
			margin: 0 auto 20px;
			background: transparent url(../images/tile-loading-docks.png) top center no-repeat;
			background-size: contain;
			list-style: none;

			a {

				display: block;
				margin: 0 auto;
				width: 141px;
				min-height: 167px;

				padding: 125px 30px 0;
				font-size: 12px;
				letter-spacing: 1px;
				text-align: center;

				text-transform: uppercase;
				color: #294547;
				text-decoration: none;

				position: relative;

				span{

					opacity: 0;
					position: absolute;

					top: 58px;
					left: 0;
					width: 141px;
					height: 56px;

					background: transparent url(../images/tile-overlay-learn-more.png) bottom center no-repeat;
					background-size: contain;
				}

				&:hover span{

					opacity: 1;
				}
			}

			&.loading-docks{

				background-image: url(../images/tile-loading-docks.png);
			}

			&.doors{

				background-image: url(../images/tile-doors.png);
			}

			&.fans{

				background-image: url(../images/tile-fans.png);
			}

			&.lifts-storage{

				background-image: url(../images/tile-lifts-storage.png);
			}

			&.gates-walls{

				background-image: url(../images/tile-gates-walls.png);
			}
		}
	}
}

.content{

	padding: 15px;

	.block{

		margin-bottom: 50px;

		h3{

			color: $red;
		}

		p{

			color: #363636;
			font-size: 13px;
			line-height: 1.5;
			margin-top: 0;
		}

		.read-more{

			border: 2px solid $red;
			border-radius: 34px;
			font-size: 11px;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0 95px 0 25px;
			display: inline-block;
			margin: 20px 0 10px;
			text-decoration: none;

			color: $red;
			height: 34px;
			line-height:34px;
			position: relative;

			span {

				position: absolute;
				top: 9px;
				right: 20px;
				display: block;

				width: 40px;
				height: 12px;

				background: transparent url(../images/right-arrow-red.png) center right no-repeat;
				background-size: 40px 12px;
			}
		}
	}

	.our-history{

	}

	.who-we-are{


	}
}

.projects{

	background: transparent url(../images/divider-projects.png) top center no-repeat;
	padding-top: 5px;

	.title{

		margin: 30px 0;
		text-align: center;
	}

	.projects-list{

		.project{

			width: 100%;
			max-height: 290px;
			position: relative;

			.hover{

				visibility: hidden;
				cursor: pointer;

				/*position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;*/

				padding: 20px 20px 50px;
				background-color: rgba( 0, 0, 0, 0.7);
				text-align: center;
			}

			&:hover .hover{

				visibility: visible;
			}

			img{

				display: block;
				margin: 15px auto;
				max-width: 90%;
			}

			p{

				color: #ffffff;
				font-family: $myriad;
				font-size: 16px;
				line-height: 1.2;
				margin-bottom: 30px;
				text-align: left;
			}

			.view{

				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;

				display: inline-block;
				font-size: 14px;
				text-transform: uppercase;
				color: #ffffff;

				line-height: 34px;
				margin-bottom: 16px;

				span{

					display: inline-block;
					width: 34px;
					height: 10px;
					margin-left: 15px;

					background: transparent url(../images/right-arrow-white.png) top left no-repeat;
					background-size: contain;
				}
			}
		}

		.ford{

			background: transparent url(../images/projects/project-1.png) top center no-repeat;
			background-size: cover;
		}

		.project-2{

			background: transparent url(../images/projects/project-2.png) top center no-repeat;
			background-size: cover;
		}

		.project-3{

			background: transparent url(../images/projects/project-3.png) top center no-repeat;
			background-size: cover;
		}

		.project-4{

			background: transparent url(../images/projects/project-4.png) top center no-repeat;
			background-size: cover;
		}

		.project-5{

			background: transparent url(../images/projects/project-5.png) top center no-repeat;
			background-size: cover;
		}
	}
}

.posts{

	background: transparent url(../images/blog-background.png) top center no-repeat;
	background-size: cover;
	padding-top: 30px;

}

@media only screen and ( min-width: 640px ){

	.categories{

		ul{

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-content: flex-start;
			flex-wrap: wrap;

			li{

				margin: 0 30px;
			}
		}
	}
}


@media only screen and ( min-width: 768px ){

	.categories{

		ul{

			li{

				margin: 0 3px;
			}
		}
	}

	.content{

		.col-md-2{

			display: flex;
			flex-direction: row;
			justify-content: center;

			.col{

				width: 50%;
			}
		}

		.block{

			padding: 0 25px;

			h3{

				padding-bottom: 4px;
				border-bottom: 2px solid $red;
			}
		}
	}

}

@media only screen and ( min-width: 992px ){

	.categories{

		ul{

			li{

				margin: 0 10px;
			}
		}
	}

	.content{

		.col-md-2{

			max-width: 840px;
			margin: 0 auto;
		}
	}
}