.product-content{

	background: transparent url(../images/divider-projects.png) bottom center no-repeat;
	padding-bottom: 20px;

	h4{

		color: #294547;
	}

	.hex-grey{

		display: none;
	}
}

.products{

	background-color: #f4f4f4;
	padding: 15px;

	.links{

		margin-bottom: 25px;
		padding: 0 20px;

		.button{

			max-width: 480px;
			display: block;
			margin: 8px auto;
		}
	}

	.product{

		background-color: #ffffff;
		box-shadow: 1px 1px 15px #9f9f9f;
		margin: 10px auto 25px;
		padding: 10px;
		max-width: 480px;

		.thumb{

			width: 100%;

			img{

				display: block;
				max-width: 100%;
				max-height: 220px;
				margin: 0 auto;
			}
		}

		.content{

			padding-left: 20px;

			.title{

				text-align: center;
			}

			ul{

				margin-left: 0;

				li{

					list-style-image: url(../images/green-bullet.png);
					margin-bottom: 15px;
				}
			}
		}

		.back-to-top{

			text-align: right;
			margin-top: 20px;
			margin-bottom: 0;

			a {
				color: #7f171a;
			}
		}

	}

	.load-more{

		text-align: center;
	}
}



@media only screen and ( min-width: 768px ){

	.product-content{

		padding: 0;

		.wrapper{

			margin: 0 auto;
			padding: 15px 15px 30px;
		}

		.hex-grey{

			display: block;
			float: left;
			margin-right: 20px;
			margin-top: -80px;
			margin-bottom: 65px;
			z-index: 1000;
			position: relative;
		}
	}

	.products{

		padding: 15px 0 0;

		.wrapper {

			margin: 0 auto;
			padding: 10px;
		}

		.links{

			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			width: 100%;

			.button{

				width: 45%;
			}
		}

		.product{

			display: flex;
			justify-content: space-between;
			flex-direction: row;

			max-width: 100%;

			.thumb{

				width: 300px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				img{

					width: 100%;
				}
			}

			.content{

				flex: 1;

				.title{

					text-align: left;
				}
			}
		}
	}
}

@media only screen and ( min-width: 992px ){

	.product-content{

		.wrapper{

		}
	}

	.products{

		.wrapper{

		}

		.links{


			.button{

				width: 30%;
				font-size: 12px;
				padding: 0 10px;
				margin: 4px auto;
			}
		}

		.product{

			.content{

			}
		}
	}
}

@media only screen and ( min-width: 1100px ){

	.product-content{

		.wrapper{

			padding-bottom: 40px;
		}

		.hex-grey{

		}
	}

	.products{

		padding-top: 30px;

		.links{


		}
	}
}