.nav{

	margin: 20px 0;

	.wrapper {

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.button{

		margin: 10px auto;
		width: 280px;
	}

	.prev{

		padding-left: 80px;
		position: relative;
		text-align: right;

		.arrow{

			width: 49px;
			height: 15px;

			position: absolute;
			left: 10px;
			top: 50%;
			margin-top: -7px;
			background: transparent url(../images/left-arrow-red.png) top left no-repeat;
			background-size: contain;
		}
	}

	.next{

		padding-right: 80px;
		position: relative;
		text-align: left;

		.arrow{

			width: 49px;
			height: 15px;

			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -7px;
			background: transparent url(../images/right-arrow-red.png) top left no-repeat;
			background-size: contain;
		}
	}
}

.gallery{

	position: relative;
	margin: 0 auto;

	ul{

		margin: 0;
		padding: 0;
		list-style: none;

		li{

			margin: 0;
			padding: 0;
			list-style: none;
		}
	}

	.images{

		.image{

			img {

				display: block;
				margin: 0 auto;
				max-width: 100%;
				height: auto;
			}
		}
	}

	.navigation{

		display: none;
	}
}

.project-content{

	.block {

		h3 {

			color: #294547;
			font-size: 1em;
			border: none;
		}
	}
}

.key-services{

	background-color: #571f1f;
	padding: 40px 15px;
	margin: 0;

	.title{

		color: #ffffff;
		text-align: center;
		margin: 0 0 30px;

	}

	ul{

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		margin: 0;
		padding: 0;
		list-style: none;

		li{

			margin: 0 10px 15px;
			padding: 0;
			list-style: none;

			a{
				display: block;
				width: 180px;
				height: 215px;
				padding: 150px 30px 10px;

				background: #ffffff url(../images/hex-equipment-selection.png) center 40px no-repeat;

				font-size: 14px;
				text-decoration: none;
				text-align: center;
				color: #294547;
			}

			&.equipment-selection a{

				background: #ffffff url(../images/hex-equipment-selection.png) center 40px no-repeat;
			}

			&.approval-drawing a{

				background: #ffffff url(../images/hex-approval-drawing.png) center 40px no-repeat;
			}

			&.shipment a{

				background: #ffffff url(../images/hex-shipment.png) center 40px no-repeat;
			}

			&.installation a{

				background: #ffffff url(../images/hex-installation.png) center 40px no-repeat;
			}

			&.follow-up{

				background: #ffffff url(../images/hex-follow-up.png) center 40px no-repeat;
			}
		}
	}
}

@media only screen and ( min-width: 640px )
{
	.nav {

		.wrapper {

			flex-direction: row;
			justify-content: space-between;
		}

		.button {


			margin: 0;
		}
	}

}

@media only screen and ( min-width: 768px )
{
	.nav{

		.wrapper{

			max-width: 630px;
		}
	}



	.gallery{

		max-width: 630px;
		padding: 0 55px;

		.navigation{

			display: block;

			.prev{

				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -31px;
				width: 76px;
				height: 62px;
				background: transparent url(../images/blog-prev-post.png) top left no-repeat;
				background-size: contain;

				@include hide-text;
			}

			.next{

				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -31px;
				width: 76px;
				height: 62px;
				background: transparent url(../images/blog-next-post.png) top left no-repeat;
				background-size: contain;

				@include hide-text;
			}
		}
	}
}


@media only screen and ( min-width: 992px ){

	.nav {

		.wrapper {

			max-width: 800px;
		}
	}

	.gallery{

		max-width: 800px;
	}

	.project-content{

		.col-md-2{

			max-width: 745px;
		}
	}
}

@media only screen and ( min-width: 1100px ){


	.nav {

		.wrapper {

			max-width: 820px;
		}
	}

	.gallery{

		max-width: 820px;
	}

	.project-content{

		.col-md-2{

			max-width: 765px;
		}
	}
}